.Header__container {
    background-color: #eff5ff;
    border-radius: 1rem 1rem 0 0;
    padding: 3rem 3rem 0;
    z-index: 1;
}
.react-app .Searchbar__container {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
}
.Searchbar__searchIcon {
    position: absolute;
    top: calc(50% - 24px / 2);
    left: 20px;
    pointer-events: none;
}

.PaymentMethodPickerModal__dialog {
    width: 970px;
    max-width: 100%;
    min-height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.2);
    border-radius: 1rem;
    outline: 0;
}
.react-app .Header__container {
    background-color: #eff5ff;
    border-radius: 1rem 1rem 0 0;
    padding: 3rem 3rem 0;
    z-index: 1;
}
.Header__searchContainer {
    display: -webkit-box;
    display: flex;
    padding: 16px;
    /*-webkit-box-orient: horizontal;*/
    /*-webkit-box-direction: reverse;*/
    flex-direction: row;
    /*background: #ffffff;*/
    /*box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.13);*/
}
.Searchbar__searchIcon {
    position: absolute;
    top: calc(50% - 24px / 2);
    left: 20px;
    pointer-events: none;
}
.Searchbar__container {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
}
.Searchbar__input {
    height: 46px;
    border: 1px solid #d8d8d8;
    border-radius: 23px;
    width: 100%;
    padding: 0 46px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CloseBtn__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.react-app .CloseBtn__imgContainer {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.Tabs__inner {
    display: -webkit-inline-box;
    display: inline-flex;
    width: 100%;
}
.TabsItem__activeItem {
    background-color: #ffffff;
}
.TabsItem__item {
    -webkit-box-flex: 1;
    flex: 1;
    padding: 2rem 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    height: 125px;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    cursor: pointer;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    border-radius: 0.4rem 0.4rem 0 0;
}
.TabsItem__img {
    height: 26px;
}
 .TabsItem__title {
    color: #626262;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    word-wrap: break-word;
    padding-top: 1.5rem;
    overflow-wrap: break-word;
}
.TabsItem__count {
    color: #9f83ba;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.3rem;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1rem;
}
.TabsContent__container {
    padding: 0 2rem;
}

.TabDescription__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 2rem;
}
.TabDescription__link {
    color: #00a5ef;
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    line-height: 1.7rem;
    text-transform: uppercase;
    padding: 0.6rem 2rem;
    border-radius: 4rem;
    border: 1px solid #00a5ef;
}
.PopularPaymentMethods__container {
    padding-top: 2rem;
}
.PopularPaymentMethods__title {
    color: #7d7d7d;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7rem;
    text-transform: uppercase;
}
.PopularPaymentMethods__list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
}
.PaymentMethodItem__item {
    border: 1px solid #cacaca;
    border-radius: 0.6rem;
    background-color: #ffffff;
    height: 50px;
    width: 31.333%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 1.5rem;
    margin: 2rem 1% 0;
    cursor: pointer;
    -webkit-transition: border-color 0.4s;
    transition: border-color 0.4s;
    overflow: hidden;
}
.PaymentMethodItem__icon {
    width: 18px;
    margin-right: 1rem;
}
.PaymentMethodItem__name {
    color: #212121;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.PaymentMethodsList__container {
    padding: 3rem 0 2rem;
}
.PaymentMethodsList__title {
    color: #7d7d7d;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7rem;
    text-transform: uppercase;
}
.PaymentMethodsList__list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
}
.TabDescription__linkContainer {
    margin-left: auto;
}
.TabDescription__text {
    color: #919191;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-right: 10rem;
    width: 100%;
}

