<app-navbar></app-navbar>

<section class="">
  <div class="container offersHero">
            <div class="row flex-column flex-sm-row">
                <div class="col-12 col-sm-9 order-2 order-sm-1 text-center text-sm-left">
                    <h1 id="hero-title" class="offersHero__title">Buy Bitcoin with SEPA</h1>

                    <div id="hero-buy-section" style="display: block">
                        <h2 id="hero-subheading" class="offersHero__subtitle">Paxful is the best place to buy bitcoin with SEPA</h2>

                        <p id="hero-desc" class="offersHero__shortDesc">Buy and sell bitcoin with SEPA. Now you can use SEPA for buying and selling Bitcoin instantly and securely with Paxful. See the list of all offers with SEPA.</p>
                    </div>
                </div>

                <div class="col-12 col-sm-3 order-1 order-sm-2 text-center text-sm-left">
                    <img id="contentImg" src="/assets/images/svg_heroX_buyBitcoin_contentImg.svg" class="offersHero__icon" alt="btcIcon">
                </div>
            </div>
        </div>
</section>


<section>
    <div class="container">
        <div class="row center-block">
            <div class="col-lg-12 px-0">
                <div class="error-boundary">
                    <div class="SearchForm__searchFormWrapper">
                        <form class="SearchForm__searchForm">
                            <h3 class="text-center text-sm-left   SearchForm__smallLabel">Buy bitcoin with</h3>
                            <div class="row mx-0 SearchForm__haveRow">
                                <div class="col col-sm-6 SearchForm__col">
                                    <div class="PaymentMethodSelect__selectPaymentInput"><input class="PaymentMethodSelect__selectPaymentInputItem" readonly="" value="SEPA"><button type="button" class="PaymentMethodSelect__selectPaymentInputClear"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button><button type="button" class="PaymentMethodSelect__selectPaymentInputCta">Show all</button></div>
                                </div>
                                <div class="col col-sm-6 SearchForm__col">
                                    <!--    <div class="react-app"> -->
                                    <!-- <div> -->
                                    <div class="CurrencyAmountPicker__currencyAmountPicker">
                                        <input class="CurrencyAmountPicker__currencyAmountPickerInput" placeholder="Any amount" type="text" value="">
                                        <button type="button" class="Button__button CurrencyAmountPicker__button btn btn-unstyled btn-lg">
                              <div class="d-flex align-items-center">Any currency<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="CurrencyAmountPicker__arrowIcon">
                              <polyline points="6 9 12 15 18 9"></polyline></svg>
                              </div>
                             </button>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-column flex-sm-row row">
                                <div class="col-12 col-sm-8 order-2 order-sm-1 align-items-center d-flex justify-content-center justify-content-sm-start text-center text-sm-left"><img height="48" width="48" src="/assets/images/bitcoin-logo.svg" alt="Bitcoin icon" class="d-none d-sm-inline-block SearchForm__btcIcon">
                                    <div>
                                        <h3 class="d-none d-sm-block SearchForm__largeLabel">You buy bitcoin</h3>
                                        <p class="">Current market price of bitcoin: <strong class="text-black">7,157 USD</strong></p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 order-1 order-sm-2"> <button class="Button__button btn    btn-primary w-100 justify-content-center SearchForm__button btn btn-primary btn-lg">Search for offers
                              </button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="h3 mb-4 text-center OffersTableTitle__title">Showing offers for <b>SEPA</b></h3>
      </div>

      <div class="justify-content-md-center row">
          <div class="mb-4 col-md-12 col-lg-10">
              <div class="alert alert-primary py-3 px-4 d-block"><img class="OffersAffiliateShareLink__affiliateShareIcon" src="/assets/images/icon_bubbles.svg">
                  <p class="mb-2 small-text OffersAffiliateShareLink__affiliateDescription">Share these search results with someone who might be interested in them, and <strong>earn commissions forever</strong> on all their future sales when they start trading.</p>
                  <button type="button" class="Button__button p-0 OffersAffiliateShareLink__collapseButton  btn btn-link btn-lg"  data-toggle="collapse" href="#collapseExample" style="outline: none;">Get your sharing link </button>
                </div>
              <div class="collapse" id="collapseExample" style="">
                  <div class="AffiliateLink__shareLinkContainer">
                      <div class="py-3 px-4 row">
                          <div class="my-md-2 col">
                              <div class="small AffiliateLink__textLabel">https://paxful.com/buy-bitcoin/bank-transfer?r=GMYyyxBnwYW</div><button class="btn btnprimary1" id="copyAffiliateLink">Copy Link</button></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

        <div class="col-lg-12 justify-content-center align-items-center flex-column flex-md-row mx-0 CountrySpecificSelector__countrySpecific"><span class="mr-md-2 mb-3 mb-md-0 label-small lh-20 font-weight-semibold display-inline-block text-center">Showing all offers relevant to your location:</span>
            <div class="d-flex align-items-center justify-content-center CountrySpecificSelector__selectorWrapper">
                <div class="SearchSelector__container">
                  <button class="btn btnlight1 SearchSelector__button"><i class="fa fa-map-marker" aria-hidden="true" style="color: lightgray;font-size: 20px"></i>
                    <span class="label-small SearchSelector__searchLabel" id="dropdownForm1" ngbDropdownToggle>USA</span>
                    <i class="fa fa-chevron-down" aria-hidden="true" style="color: lightgray;font-size: 20px"></i>
                   </button>
                  </div>
            </div>

            

        </div>

<!--        <div class="col-lg-12"> -->
          <!-- <div class="d-none d-md-block my-3 px-4 OffersTableHeader__container">
              <div class="row label-small">
                  <div class="col-2">
                      <p class="m-0 label-small">Seller</p>
                  </div>
                  <div class="col-5">
                      <p class="m-0 label-small">Buy bitcoin with</p>
                  </div>
                  <div class="col-5 text-right">
                      <p class="m-0 label-small"><span>Rate per bitcoin</span></p>
                  </div>
              </div>
          </div> -->
<div class="col-lg-12">
    <div class="d-none d-md-block my-3 px-4 OffersTableHeader__container">
        <div class="row label-small">
            <div class="col-2">
                <p class="m-0 label-small">Seller</p>
            </div>
            <div class="col-5">
                <p class="m-0 label-small">Buy bitcoin with</p>
            </div>
            <div class="col-5 text-right">
                <p class="m-0 label-small"><span>Rate per bitcoin</span></p>
            </div>
        </div>
    </div>
    <div class="py-3 px-3 px-lg-4 Offer__offerRow">
        <div class="row mb-2 flex-wrap flex-lg-nowrap">
            <div class="order-1 col-5 col-lg-2 d-flex flex-column pr-0">
                <div class="d-flex align-items-center"><span class="mr-2 d-lg-none OfferUserStatus__status OfferUserStatus__seen-very-recently"></span> <a class="OfferUser__userInfo">vakano</a></div>
                <p class="m-0 small-text align-items-center d-none d-lg-flex"><i class="fa fa-thumbs-up thumbsup" aria-hidden="true"></i>45</p>
            </div>
            <div class="col order-5 order-lg-2 mt-2 mt-lg-0 qa-paymentMethodGroup"><span class="h3 primary-font p small-text m-0 OfferPaymentMethod__paymentMethodName">SEPA</span>
                <p class="m-0 small-text OfferPaymentMethod__paymentMethodLabel">CHASE</p>
            </div>
            <div class="order-2 order-lg-3 col-7 col-lg-auto">
                <p class="OfferPrice__btcRate">7,536.36 <span id="OfferPrice-VJKm3D6Y71j">USD</span></p>
                <div class="d-none d-lg-block mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
            <div class="col-2 d-lg-none order-3">
                <p class="m-0 small-text align-items-center d-flex">100</p>
            </div>
            <div class="col-10 d-lg-none order-4">
                <div class="mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
        </div>
        <div class="row flex-wrap">
            <div class="col-lg-2 d-none d-lg-flex align-items-center ">
                <p class="m-0 label-small lh-20 d-lg-flex align-items-center"><span class="mr-2 OfferUserStatus__status OfferUserStatus__seen-very-recently"><i class="fa fa-circle" aria-hidden="true" style="color: yellow"></i></span>Seen just now</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 mb-3 mb-lg-0  d-flex align-items-center ">
                <ul class="list-unstyled mb-0 OfferTags__tagsCount-1 OfferTags__tagList">
                    <li class="mr-2 OfferTags__tagItem" id="tag-tooltip-159-VJKm3D6Y71j"><span class="btn btnlight OfferLabel__label OfferLabel__default OfferLabel__hasTooltip" data-toggle="tooltip" data-html="true" title="You can only spend what you have in your Paxful Wallet. Your balance is shown in bitcoin and INR. To add value to your digital wallet, click “Add money” in the menu.">photo id required</span></li>
                    
                </ul>
            </div>
            <div class="order-3 col ml-auto d-flex align-items-center justify-content-between justify-content-lg-end col-lg-4">
                <p class="m-0 mr-3 label-small lh-20 text-right"><span class="text-muted">Buying limit: </span>100—313&nbsp;<span>USD</span></p><a class="Button__button d-flex flex-nowrap btn btnprimary btn-md">Buy<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
    <div class="py-3 px-3 px-lg-4 Offer__offerRow">
        <div class="row mb-2 flex-wrap flex-lg-nowrap">
            <div class="order-1 col-5 col-lg-2 d-flex flex-column pr-0">
                <div class="d-flex align-items-center"><span class="mr-2 d-lg-none OfferUserStatus__status OfferUserStatus__seen-very-recently"></span> <a class="OfferUser__userInfo">Carlosabal23</a></div>
                <p class="m-0 small-text align-items-center d-none d-lg-flex"><i class="fa fa-thumbs-up thumbsup" aria-hidden="true"></i>100</p>
            </div>
            <div class="col order-5 order-lg-2 mt-2 mt-lg-0 qa-paymentMethodGroup"><span class="h3 primary-font p small-text m-0 OfferPaymentMethod__paymentMethodName">SEPA</span>
                <p class="m-0 small-text OfferPaymentMethod__paymentMethodLabel">CHASE</p>
            </div>
            <div class="order-2 order-lg-3 col-7 col-lg-auto">
                <p class="OfferPrice__btcRate">6,8950.36 <span id="OfferPrice-VJKm3D6Y71j">USD</span></p>
                <div class="d-none d-lg-block mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
            <div class="col-2 d-lg-none order-3">
                <p class="m-0 small-text align-items-center d-flex">100</p>
            </div>
            <div class="col-10 d-lg-none order-4">
                <div class="mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
        </div>
        <div class="row flex-wrap">
            <div class="col-lg-2 d-none d-lg-flex align-items-center ">
                <p class="m-0 label-small lh-20 d-lg-flex align-items-center"><span class="mr-2 OfferUserStatus__status OfferUserStatus__seen-very-recently"><i class="fa fa-circle" aria-hidden="true"></i></span>Seen just now</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 mb-3 mb-lg-0  d-flex align-items-center ">
                <ul class="list-unstyled mb-0 OfferTags__tagsCount-1 OfferTags__tagList">
                    <li class="mr-2 OfferTags__tagItem" id="tag-tooltip-159-VJKm3D6Y71j"><span class="btn btnlight OfferLabel__label OfferLabel__default OfferLabel__hasTooltip" data-toggle="tooltip" data-html="true" title="You can only spend what you have in your Paxful Wallet. Your balance is shown in bitcoin and INR. To add value to your digital wallet, click “Add money” in the menu.">No verification Needed</span></li>
                    
                </ul>
            </div>
            <div class="order-3 col ml-auto d-flex align-items-center justify-content-between justify-content-lg-end col-lg-4">
                <p class="m-0 mr-3 label-small lh-20 text-right"><span class="text-muted">Buying limit: </span>100—313&nbsp;<span>USD</span></p><a class="Button__button d-flex flex-nowrap btn btnprimary btn-md">Buy<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
        <div class="py-3 px-3 px-lg-4 Offer__offerRow">
        <div class="row mb-2 flex-wrap flex-lg-nowrap">
            <div class="order-1 col-5 col-lg-2 d-flex flex-column pr-0">
                <div class="d-flex align-items-center"><span class="mr-2 d-lg-none OfferUserStatus__status OfferUserStatus__seen-very-recently"></span> <a class="OfferUser__userInfo">criptocomercio</a></div>
                <p class="m-0 small-text align-items-center d-none d-lg-flex"><i class="fa fa-thumbs-up thumbsup" aria-hidden="true"></i>100</p>
            </div>
            <div class="col order-5 order-lg-2 mt-2 mt-lg-0 qa-paymentMethodGroup"><span class="h3 primary-font p small-text m-0 OfferPaymentMethod__paymentMethodName">SEPA</span>
                <p class="m-0 small-text OfferPaymentMethod__paymentMethodLabel">CHASE</p>
            </div>
            <div class="order-2 order-lg-3 col-7 col-lg-auto">
                <p class="OfferPrice__btcRate">1,180.36 <span id="OfferPrice-VJKm3D6Y71j">USD</span></p>
                <div class="d-none d-lg-block mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
            <div class="col-2 d-lg-none order-3">
                <p class="m-0 small-text align-items-center d-flex">100</p>
            </div>
            <div class="col-10 d-lg-none order-4">
                <div class="mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
        </div>
        <div class="row flex-wrap">
            <div class="col-lg-2 d-none d-lg-flex align-items-center ">
                <p class="m-0 label-small lh-20 d-lg-flex align-items-center"><span class="mr-2 OfferUserStatus__status OfferUserStatus__seen-very-recently"><i class="fa fa-circle" aria-hidden="true"></i></span>Seen just now</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 mb-3 mb-lg-0  d-flex align-items-center ">
                <ul class="list-unstyled mb-0 OfferTags__tagsCount-1 OfferTags__tagList">
                    <li class="mr-2 OfferTags__tagItem" id="tag-tooltip-159-VJKm3D6Y71j"><span class="btn btnlight OfferLabel__label OfferLabel__default OfferLabel__hasTooltip" data-toggle="tooltip" data-html="true" title="You can only spend what you have in your Paxful Wallet. Your balance is shown in bitcoin and INR. To add value to your digital wallet, click “Add money” in the menu.">photo id required</span></li>
                    
                </ul>
            </div>
            <div class="order-3 col ml-auto d-flex align-items-center justify-content-between justify-content-lg-end col-lg-4">
                <p class="m-0 mr-3 label-small lh-20 text-right"><span class="text-muted">Buying limit: </span>100—313&nbsp;<span>USD</span></p><a class="Button__button d-flex flex-nowrap btn btnprimary btn-md">Buy<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
        <div class="py-3 px-3 px-lg-4 Offer__offerRow">
        <div class="row mb-2 flex-wrap flex-lg-nowrap">
            <div class="order-1 col-5 col-lg-2 d-flex flex-column pr-0">
                <div class="d-flex align-items-center"><span class="mr-2 d-lg-none OfferUserStatus__status OfferUserStatus__seen-very-recently"></span> <a class="OfferUser__userInfo">Skenge3</a></div>
                <p class="m-0 small-text align-items-center d-none d-lg-flex"><i class="fa fa-thumbs-up thumbsup" aria-hidden="true"></i>45</p>
            </div>
            <div class="col order-5 order-lg-2 mt-2 mt-lg-0 qa-paymentMethodGroup"><span class="h3 primary-font p small-text m-0 OfferPaymentMethod__paymentMethodName">SEPA</span>
                <p class="m-0 small-text OfferPaymentMethod__paymentMethodLabel">CHASE</p>
            </div>
            <div class="order-2 order-lg-3 col-7 col-lg-auto">
                <p class="OfferPrice__btcRate">8,230.06 <span id="OfferPrice-VJKm3D6Y71j">USD</span></p>
                <div class="d-none d-lg-block mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
            <div class="col-2 d-lg-none order-3">
                <p class="m-0 small-text align-items-center d-flex">67</p>
            </div>
            <div class="col-10 d-lg-none order-4">
                <div class="mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
        </div>
        <div class="row flex-wrap">
            <div class="col-lg-2 d-none d-lg-flex align-items-center ">
                <p class="m-0 label-small lh-20 d-lg-flex align-items-center"><span class="mr-2 OfferUserStatus__status OfferUserStatus__seen-very-recently"><i class="fa fa-circle" aria-hidden="true" style="color: yellow"></i></span>Seen just now</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 mb-3 mb-lg-0  d-flex align-items-center ">
                <ul class="list-unstyled mb-0 OfferTags__tagsCount-1 OfferTags__tagList">
                    <li class="mr-2 OfferTags__tagItem" id="tag-tooltip-159-VJKm3D6Y71j"><span class="btn btnlight OfferLabel__label OfferLabel__default OfferLabel__hasTooltip" data-toggle="tooltip" data-html="true" title="You can only spend what you have in your Paxful Wallet. Your balance is shown in bitcoin and INR. To add value to your digital wallet, click “Add money” in the menu.">photo id required</span>
                   <!--  <span class="btn btnlight OfferLabel__label OfferLabel__default OfferLabel__hasTooltip" data-toggle="tooltip" data-html="true" title="You can only spend what you have in your Paxful Wallet. Your balance is shown in bitcoin and INR. To add value to your digital wallet, click “Add money” in the menu.">no verification needed</span></li> -->
                    
                </ul>
            </div>
            <div class="order-3 col ml-auto d-flex align-items-center justify-content-between justify-content-lg-end col-lg-4">
                <p class="m-0 mr-3 label-small lh-20 text-right"><span class="text-muted">Buying limit: </span>100—313&nbsp;<span>USD</span></p><a class="Button__button d-flex flex-nowrap btn btnprimary btn-md">Buy<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
        <div class="py-3 px-3 px-lg-4 Offer__offerRow">
        <div class="row mb-2 flex-wrap flex-lg-nowrap">
            <div class="order-1 col-5 col-lg-2 d-flex flex-column pr-0">
                <div class="d-flex align-items-center"><span class="mr-2 d-lg-none OfferUserStatus__status OfferUserStatus__seen-very-recently"></span> <a class="OfferUser__userInfo">EYESEEK</a></div>
                <p class="m-0 small-text align-items-center d-none d-lg-flex"><i class="fa fa-thumbs-up thumbsup" aria-hidden="true"></i>78</p>
            </div>
            <div class="col order-5 order-lg-2 mt-2 mt-lg-0 qa-paymentMethodGroup"><span class="h3 primary-font p small-text m-0 OfferPaymentMethod__paymentMethodName">SEPA</span>
                <p class="m-0 small-text OfferPaymentMethod__paymentMethodLabel">CHASE</p>
            </div>
            <div class="order-2 order-lg-3 col-7 col-lg-auto">
                <p class="OfferPrice__btcRate">7,950.36 <span id="OfferPrice-VJKm3D6Y71j">USD</span></p>
                <div class="d-none d-lg-block mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
            <div class="col-2 d-lg-none order-3">
                <p class="m-0 small-text align-items-center d-flex">100</p>
            </div>
            <div class="col-10 d-lg-none order-4">
                <div class="mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
        </div>
        <div class="row flex-wrap">
            <div class="col-lg-2 d-none d-lg-flex align-items-center ">
                <p class="m-0 label-small lh-20 d-lg-flex align-items-center"><span class="mr-2 OfferUserStatus__status OfferUserStatus__seen-very-recently"><i class="fa fa-circle" aria-hidden="true"></i></span>Seen just now</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 mb-3 mb-lg-0  d-flex align-items-center ">
                <ul class="list-unstyled mb-0 OfferTags__tagsCount-1 OfferTags__tagList">
                    <li class="mr-2 OfferTags__tagItem" id="tag-tooltip-159-VJKm3D6Y71j"><span class="btn btnlight OfferLabel__label OfferLabel__default OfferLabel__hasTooltip" data-toggle="tooltip" data-html="true" title="You can only spend what you have in your Paxful Wallet. Your balance is shown in bitcoin and INR. To add value to your digital wallet, click “Add money” in the menu.">No Verification needed</span></li>
                    
                </ul>
            </div>
            <div class="order-3 col ml-auto d-flex align-items-center justify-content-between justify-content-lg-end col-lg-4">
                <p class="m-0 mr-3 label-small lh-20 text-right"><span class="text-muted">Buying limit: </span>100—313&nbsp;<span>USD</span></p><a class="Button__button d-flex flex-nowrap btn btnprimary btn-md">Buy<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
    <div class="py-3 px-3 px-lg-4 Offer__offerRow">
        <div class="row mb-2 flex-wrap flex-lg-nowrap">
            <div class="order-1 col-5 col-lg-2 d-flex flex-column pr-0">
                <div class="d-flex align-items-center"><span class="mr-2 d-lg-none OfferUserStatus__status OfferUserStatus__seen-very-recently"></span> <a class="OfferUser__userInfo">DrCripto</a></div>
                <p class="m-0 small-text align-items-center d-none d-lg-flex"><i class="fa fa-thumbs-up thumbsup" aria-hidden="true"></i>13</p>
            </div>
            <div class="col order-5 order-lg-2 mt-2 mt-lg-0 qa-paymentMethodGroup"><span class="h3 primary-font p small-text m-0 OfferPaymentMethod__paymentMethodName">SEPA</span>
                <p class="m-0 small-text OfferPaymentMethod__paymentMethodLabel">CHASE</p>
            </div>
            <div class="order-2 order-lg-3 col-7 col-lg-auto">
                <p class="OfferPrice__btcRate">7,950.36 <span id="OfferPrice-VJKm3D6Y71j">USD</span></p>
                <div class="d-none d-lg-block mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
            <div class="col-2 d-lg-none order-3">
                <p class="m-0 small-text align-items-center d-flex">100</p>
            </div>
            <div class="col-10 d-lg-none order-4">
                <div class="mb-0 small-text text-right"><span class="OfferMargin__text"><span class="">10.99%</span> above market price</span>
                </div>
            </div>
        </div>
        <div class="row flex-wrap">
            <div class="col-lg-2 d-none d-lg-flex align-items-center ">
                <p class="m-0 label-small lh-20 d-lg-flex align-items-center"><span class="mr-2 OfferUserStatus__status OfferUserStatus__seen-very-recently"><i class="fa fa-circle" aria-hidden="true"></i></span>Seen just now</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 mb-3 mb-lg-0  d-flex align-items-center ">
                <ul class="list-unstyled mb-0 OfferTags__tagsCount-1 OfferTags__tagList">
                    <li class="mr-2 OfferTags__tagItem" id="tag-tooltip-159-VJKm3D6Y71j"><span class="btn btnlight OfferLabel__label OfferLabel__default OfferLabel__hasTooltip" data-toggle="tooltip" data-html="true" title="You can only spend what you have in your Paxful Wallet. Your balance is shown in bitcoin and INR. To add value to your digital wallet, click “Add money” in the menu.">photo id required</span></li>
                    
                </ul>
            </div>
            <div class="order-3 col ml-auto d-flex align-items-center justify-content-between justify-content-lg-end col-lg-4">
                <p class="m-0 mr-3 label-small lh-20 text-right"><span class="text-muted">Buying limit: </span>100—313&nbsp;<span>USD</span></p><a class="Button__button d-flex flex-nowrap btn btnprimary btn-md">Buy<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
</div>
<!-- </div> -->
<div class="col-lg-12">
  <div class="d-flex flex-column flex-lg-row align-items-center justify-content-start justify-content-md-between mt-4 mb-5 mb-md-6"><button type="button" class="Button__button mb-3 mb-lg-0 OffersTableBody__loadMoreButton btn btnprimary btn-lg">Load more offers</button>
    <p class="mb-0 ml-lg-auto text-center text-lg-right CreateOfferLink__offerLink">Didn't find a suitable offer? <a href="/list-bitcoin-buy-sell-ad?offer_type=buy">Create your own offer</a></p>
</div>
</div>


    </div>
  </div>
</section>
<section>
  <div class="buyBitcoinStaticMethods container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2 class="headingHuge mb-4">
                Choose from <strong>over 300 payment options</strong> available when buying and selling bitcoin!
            </h2>
            <h3 class="heading-2 font-weight-light mb-4">
                You buy bitcoin directly from other people
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 px-4 px-sm-5">
            <article class="paymentMethodGroup">
                <header class="row mx-0 mb-3">
                    <img src="https://paxful.com/assets/images/svg-icons/icon-bank-big.svg" class="paymentMethodGroup__image" alt="Bank transfers">

                    <div class="col d-flex justify-content-center flex-column">
                        <h3 class="paymentMethodGroup__title heading-3 m-0">Bank transfers</h3>
                        <ul class="list-unstyled m-0">
                            <li class="badge badge-pill badge-light">
                                Secure
                            </li>
                            <li class="badge badge-pill badge-light">
                                Reliable
                            </li>
                            <li class="badge badge-pill badge-light">
                                Best Price
                            </li>
                        </ul>
                    </div>
                </header>

                <p class="js-payment-group-desc" data-group-buy-desc="Buy bitcoin by making a transfer from your bank account to a bitcoin vendor on Paxful. Once they receive the funds, bitcoin is sent to you. Works worldwide." data-group-sell-desc="Sell bitcoin by having money sent directly to your bank account. Immediate and works worldwide.">Buy bitcoin by making a transfer from your bank account to a bitcoin vendor on Paxful. Once they receive the funds, bitcoin is sent to you. Works worldwide.</p>

                <footer class="paymentMethodGroup__footer">
                    <div class="paymentMethodGroup__actions">
                        <a href="" data-group-slug="bank-transfers" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                Find offers
                            </a>
                    </div>
                    <div class="paymentMethodGroup__paymentMethods">
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: inline" data-method-slug="imps-transfer">
                                        IMPS Transfer
                                    </a>
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: inline" data-method-slug="domestic-wire-transfer">
                                        Domestic Wire Transfer
                                    </a>
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: inline" data-method-slug="bank-transfer">
                                        Bank Transfer
                                    </a>
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: inline" data-method-slug="international-wire-transfer-swift">
                                        International Wire Transfer (SWIFT)
                                    </a>
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: inline" data-method-slug="interac-online">
                                        Interac Online
                                    </a>
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: inline" data-method-slug="sepa">
                                        SEPA
                                    </a>
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: none" data-method-slug="payid">
                                        PayID
                                    </a>
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: none" data-method-slug="faster-payment-system-fps">
                                        Faster Payment System (FPS)
                                    </a>
                        <a href="" class="paymentMethod-5 js-payment-method-link" style="display: none" data-method-slug="upi-transfer">
                                        UPI Transfer
                                    </a>

                        <span class="more js-payment-groups-more" data-id="5">more options...</span>
                    </div>
                </footer>
            </article>
        </div>
        <div class="col-12 col-sm-6 px-4 px-sm-5">
            <article class="paymentMethodGroup">
                <header class="row mx-0 mb-3">
                    <img src="https://paxful.com/assets/images/svg-icons/icon-online-big.svg" class="paymentMethodGroup__image" alt="Online wallets">

                    <div class="col d-flex justify-content-center flex-column">
                        <h3 class="paymentMethodGroup__title heading-3 m-0">Online wallets</h3>
                        <ul class="list-unstyled m-0">
                            <li class="badge badge-pill badge-light">
                                Convenient
                            </li>
                            <li class="badge badge-pill badge-light">
                                Personalised
                            </li>
                            <li class="badge badge-pill badge-light">
                                Easy
                            </li>
                        </ul>
                    </div>
                </header>

                <p class="js-payment-group-desc" data-group-buy-desc="Don’t want to leave the house? You can use a number of popular payment apps. Once the transfer is complete, bitcoin is yours." data-group-sell-desc="Don’t want to leave the house? Sell your bitcoin in exchange for value on a number of popular payment apps.">Don’t want to leave the house? You can use a number of popular payment apps. Once the transfer is complete, bitcoin is yours.</p>

                <footer class="paymentMethodGroup__footer">
                    <div class="paymentMethodGroup__actions">
                        <a href="" data-group-slug="online-transfers" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                Find offers
                            </a>
                    </div>
                    <div class="paymentMethodGroup__paymentMethods">
                        <a href="" class="paymentMethod-3 js-payment-method-link" style="display: inline" data-method-slug="payoo">
                                        Payoo
                                    </a>
                        <a href="" class="paymentMethod-3 js-payment-method-link" style="display: inline" data-method-slug="ugo-pay">
                                        UGO Pay
                                    </a>
                        <a href="" class="paymentMethod-3 js-payment-method-link" style="display: inline" data-method-slug="qnb-smart-wallet">
                                        QNB smart wallet
                                    </a>
                        <a href="" class="paymentMethod-3 js-payment-method-link" style="display: inline" data-method-slug="wells-fargo-surepay">
                                        Wells Fargo SurePay
                                    </a>
                        <a href="" class="paymentMethod-3 js-payment-method-link" style="display: inline" data-method-slug="liqpay">
                                        LiqPay
                                    </a>
                       
                        <a href="" class="paymentMethod-3 js-payment-method-link" style="display: none" data-method-slug="hilton-hhonors-points">
                                        Hilton HHonors Points
                                    </a>
                        <a href="" class="paymentMethod-3 js-payment-method-link" style="display: none" data-method-slug="straight-talk-reload">
                                        Straight Talk Reload
                                    </a>
                        <a href="" class="paymentMethod-3 js-payment-method-link" style="display: none" data-method-slug="capital-one-360-p2p-payment">
                                        Capital One 360 P2P Payment
                                    </a>

                        <span class="more js-payment-groups-more" data-id="3">more options...</span>
                    </div>
                </footer>
            </article>
        </div>
        <div class="col-12 col-sm-6 px-4 px-sm-5">
            <article class="paymentMethodGroup">
                <header class="row mx-0 mb-3">
                    <img src="https://paxful.com/assets/images/svg-icons/icon-giftcard-big.svg" class="paymentMethodGroup__image" alt="Gift cards">

                    <div class="col d-flex justify-content-center flex-column">
                        <h3 class="paymentMethodGroup__title heading-3 m-0">Gift cards</h3>
                        <ul class="list-unstyled m-0">
                            <li class="badge badge-pill badge-light">
                                Personalised
                            </li>
                            <li class="badge badge-pill badge-light">
                                Private
                            </li>
                            <li class="badge badge-pill badge-light">
                                Large Variety
                            </li>
                        </ul>
                    </div>
                </header>

                <p class="js-payment-group-desc" data-group-buy-desc="Want to buy $20 of bitcoin fast? Pick up a gift card with cash, save the receipt, and exchange it here for instant bitcoin." data-group-sell-desc="You can sell as little as $20 of bitcoin in an instant by accepting gift cards as payment method from many of your favourite vendors.">Want to buy $20 of bitcoin fast? Pick up a gift card with cash, save the receipt, and exchange it here for instant bitcoin.</p>

                <footer class="paymentMethodGroup__footer">
                    <div class="paymentMethodGroup__actions">
                        <a href="" data-group-slug="gift-cards" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                Find offers
                            </a>
                    </div>
                    <div class="paymentMethodGroup__paymentMethods">
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: inline" data-method-slug="american-apparel-gift-card">
                                        American Apparel Gift Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: inline" data-method-slug="zappos-gift-card">
                                        Zappos Gift Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: inline" data-method-slug="groupon-gift-card">
                                        Groupon Gift Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: inline" data-method-slug="dmm-prepaid-card">
                                        DMM Prepaid Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: inline" data-method-slug="papa-johns-gift-card">
                                        Papa Johns Gift Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: inline" data-method-slug="freshdirect-gift-card">
                                        FreshDirect Gift Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: none" data-method-slug="everlane-gift-card">
                                        Everlane Gift card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: none" data-method-slug="amazon-gift-card">
                                        Amazon Gift Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: none" data-method-slug="visa-gift-card">
                                        VISA Gift Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: none" data-method-slug="starbucks-card">
                                        Starbucks Card
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: none" data-method-slug="target-gift-card">
                                        Target Gift Card
                                    </a>
                       
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: none" data-method-slug="reloadit-by-netspend">
                                        Reloadit by Netspend
                                    </a>
                        <a href="" class="paymentMethod-1 js-payment-method-link" style="display: none" data-method-slug="etsy">
                                        Etsy
                                    </a>

                        <span class="more js-payment-groups-more" data-id="1">more options...</span>
                    </div>
                </footer>
            </article>
        </div>
        <div class="col-12 col-sm-6 px-4 px-sm-5">
            <article class="paymentMethodGroup">
                <header class="row mx-0 mb-3">
                    <img src="https://paxful.com/assets/images/svg-icons/icon-cash-big.svg" class="paymentMethodGroup__image" alt="Cash">

                    <div class="col d-flex justify-content-center flex-column">
                        <h3 class="paymentMethodGroup__title heading-3 m-0">Cash</h3>
                        <ul class="list-unstyled m-0">
                            <li class="badge badge-pill badge-light">
                                Convenient
                            </li>
                            <li class="badge badge-pill badge-light">
                                Hassle-free
                            </li>
                            <li class="badge badge-pill badge-light">
                                Instant
                            </li>
                        </ul>
                    </div>
                </header>

                <p class="js-payment-group-desc" data-group-buy-desc="Buy bitcoin with cash. No bank account needed. A bitcoin vendor on Paxful will guide you to deposit cash into their account. Once they receive the deposit, bitcoin is sent to you." data-group-sell-desc="Sell bitcoin for cash. Provide instructions for the buyer on how to make a deposit into your account.">Buy bitcoin with cash. No bank account needed. A bitcoin vendor on Paxful will guide you to deposit cash into their account. Once they receive the deposit, bitcoin is sent to you.</p>

                <footer class="paymentMethodGroup__footer">
                    <div class="paymentMethodGroup__actions">
                        <a href="" data-group-slug="cash-deposits" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                Find offers
                            </a>
                    </div>
                    <div class="paymentMethodGroup__paymentMethods">
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: inline" data-method-slug="st-george-cash-deposit">
                                        St George Cash Deposit
                                    </a>
                        
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: none" data-method-slug="cash-deposit-at-anz">
                                        Cash Deposit: ANZ
                                    </a>
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: none" data-method-slug="cash-deposit-cbawestpacnabanz">
                                        Cash deposit: CBA/WestPac/NAB/ANZ
                                    </a>
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: none" data-method-slug="capital-one-cash-deposit">
                                        Capital One Cash Deposit
                                    </a>
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: none" data-method-slug="bancolombia-cash-deposit">
                                        Bancolombia Cash Deposit
                                    </a>
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: none" data-method-slug="walmartcvs7-eleven-cash-deposit">
                                        Walmart/CVS/7-Eleven Cash Deposit
                                    </a>
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: none" data-method-slug="cash-deposit-anz">
                                        Cash Deposit: ANZ
                                    </a>
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: none" data-method-slug="cash-deposit-csob-branches-amp-atms">
                                        Cash Deposit: CSOB Branches &amp; ATMs
                                    </a>
                        <a href="" class="paymentMethod-2 js-payment-method-link" style="display: none" data-method-slug="cash-deposit-capitol-one">
                                        Cash Deposit Capitol One
                                    </a>

                        <span class="more js-payment-groups-more" data-id="2">more options...</span>
                    </div>
                </footer>
            </article>
        </div>
        <div class="col-12 col-sm-6 px-4 px-sm-5">
            <article class="paymentMethodGroup">
                <header class="row mx-0 mb-3">
                    <img src="https://paxful.com/assets/images/svg-icons/icon-card-big.svg" class="paymentMethodGroup__image" alt="Debit/credit cards">

                    <div class="col d-flex justify-content-center flex-column">
                        <h3 class="paymentMethodGroup__title heading-3 m-0">Debit/credit cards</h3>
                        <ul class="list-unstyled m-0">
                            <li class="badge badge-pill badge-light">
                                Secure
                            </li>
                            <li class="badge badge-pill badge-light">
                                Easy
                            </li>
                            <li class="badge badge-pill badge-light">
                                Convenient
                            </li>
                        </ul>
                    </div>
                </header>

                <p class="js-payment-group-desc" data-group-buy-desc="Conveniently use your debit or credit card to purchase bitcoin on Paxful." data-group-sell-desc="Buyers love convenience. Accept debit and credit card payments to sell your bitcoin in an instant.">Conveniently use your debit or credit card to purchase bitcoin on Paxful.</p>

                <footer class="paymentMethodGroup__footer">
                    <div class="paymentMethodGroup__actions">
                        <a href="/buy-bitcoin/?group=debitcredit-cards" data-group-slug="debitcredit-cards" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                Find offers
                            </a>
                    </div>
                    <div class="paymentMethodGroup__paymentMethods">
                        <a href="" class="paymentMethod-4 js-payment-method-link" style="display: inline" data-method-slug="postepay">
                                        PostePay
                                    </a>
                        <a href="" class="paymentMethod-4 js-payment-method-link" style="display: inline" data-method-slug="bluebird-american-express">
                                        Bluebird American Express
                                    </a>
                        <a href="" class="paymentMethod-4 js-payment-method-link" style="display: inline" data-method-slug="akimbo">
                                        Akimbo
                                    </a>
                       
                        <a href="" class="paymentMethod-4 js-payment-method-link" style="display: none" data-method-slug="serve-to-serve">
                                        Serve to Serve
                                    </a>

                        <span class="more js-payment-groups-more" data-id="4">more options...</span>
                    </div>
                </footer>
            </article>
        </div>
        <div class="col-12 col-sm-6 px-4 px-sm-5">
            <article class="paymentMethodGroup">
                <header class="row mx-0 mb-3">
                    <img src="https://paxful.com/assets/images/svg-icons/icon-digital.svg" class="paymentMethodGroup__image" alt="Digital currencies">

                    <div class="col d-flex justify-content-center flex-column">
                        <h3 class="paymentMethodGroup__title heading-3 m-0">Digital currencies</h3>
                        <ul class="list-unstyled m-0">
                            <li class="badge badge-pill badge-light">
                                Borderless
                            </li>
                            <li class="badge badge-pill badge-light">
                                Futuristic
                            </li>
                            <li class="badge badge-pill badge-light">
                                Secure
                            </li>
                        </ul>
                    </div>
                </header>

                <p class="js-payment-group-desc" data-group-buy-desc="Trade your favorite digital currencies or tokens and instantly get bitcoin transferred directly to your wallet." data-group-sell-desc="Trade bitcoin with buyers in exchange for some of your other favourite digital currencies and tokens.">Trade your favorite digital currencies or tokens and instantly get bitcoin transferred directly to your wallet.</p>

                <footer class="paymentMethodGroup__footer">
                    <div class="paymentMethodGroup__actions">
                        <a href="" data-group-slug="digital-currencies" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                Find offers
                            </a>
                    </div>
                    <div class="paymentMethodGroup__paymentMethods">
                        <a href="" class="paymentMethod-6 js-payment-method-link" style="display: inline" data-method-slug="peercoin-ppc">
                                        Peercoin PPC
                                    </a>
                        <a href="" class="paymentMethod-6 js-payment-method-link" style="display: inline" data-method-slug="nem">
                                        NEM
                                    </a>
                        <a href="" class="paymentMethod-6 js-payment-method-link" style="display: inline" data-method-slug="namecoin-nmc">
                                        Namecoin NMC
                                    </a>
                        <a href="" class="paymentMethod-6 js-payment-method-link" style="display: inline" data-method-slug="bitgold">
                                        Bitgold
                                    </a>
                        <a href="" class="paymentMethod-6 js-payment-method-link" style="display: inline" data-method-slug="dogecoin-doge">
                                        Dogecoin DOGE
                                    </a>
                        
                        <a href="" class="paymentMethod-6 js-payment-method-link" style="display: none" data-method-slug="stratis-strat">
                                        Stratis STRAT
                                    </a>
                        <a href="" class="paymentMethod-6 js-payment-method-link" style="display: none" data-method-slug="trueusd">
                                        TrueUSD
                                    </a>
                        <a href="" class="paymentMethod-6 js-payment-method-link" style="display: none" data-method-slug="credits-cs">
                                        Credits (CS) 
                                    </a>

                        <span class="more js-payment-groups-more" data-id="6">more options...</span>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>  
</section>


<section>
  <div class="container">
    <section class="c-StaticPaxfulWayContent">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <svg class="c-StaticPaxfulWayContent__icon" enable-background="new 0 0 72 64" viewBox="0 0 72 64" xmlns="http://www.w3.org/2000/svg">
                    <path d="m72 32c0-.9-.2-1.9-.7-2.7l-15.3-26.6c-1-1.7-2.8-2.7-4.7-2.7h-30.6c-1.9 0-3.7 1-4.7 2.7 0 0-.6 1-.6 1.1-.7 1.2-.4 2.2.3 3.4l1.8 3.1 2.3 4c.2.3.2.6.2.9s-.1.6-.2.9l-5.2 9s0 .1-.1.1c0 0 0 .1-.1.1-.3.4-.9.7-1.4.7h-6.6c-.9 0-1.8-.1-2.7 0-.4.1-.9.3-1.2.5-.9.7-1.3 1.7-1.9 2.6-.4 1-.6 2-.6 2.9s.2 1.9.7 2.7l15.3 26.6c1 1.7 2.7 2.7 4.7 2.7h30.6c1.7 0 3.3-.8 4.3-2.1.1-.1.1-.2.2-.3s.1-.2.2-.3l15.3-26.6c.5-.8.7-1.8.7-2.7z" fill="#9d85c1"></path>
                    <path d="m9.4 10.6c-.9.3-1.5 1.3-1.2 2.2l.4 1.2-5.6-3.3c-.9-.5-1.9-.2-2.4.7s-.2 1.9.7 2.4l5.5 3.3-1.2.3c-1 .2-1.6 1.2-1.3 2.1.2 1 1.2 1.6 2.1 1.3l5.6-1.3h.1s.1 0 .1-.1h.1c.1 0 .1-.1.2-.1h.1c.1 0 .1-.1.2-.1l.1-.1c.1-.1.1-.2.2-.3.1-.1.1-.2.1-.3v-.1c0-.1 0-.1 0-.2v-.1c0-.1 0-.1 0-.2v-.1-.1s0 0 0-.1l-1.7-5.5c-.1-1.2-1.1-1.7-2.1-1.5z" fill="#836aaa"></path>
                    <path d="m20.7 64h30.6c1.7 0 3.3-.8 4.3-2.1.1-.1.1-.2.2-.3s.1-.2.2-.3l15.3-26.6c.5-.8.7-1.8.7-2.7s-.2-1.9-.7-2.7l-15.3-26.6c-.5-.8-1.1-1.5-1.9-1.9l-36.1 62.5c.8.4 1.7.7 2.7.7z" fill="#705a9b"></path>
                    <path d="m50.5 32.1c-.6-.7-1.3-1.3-2.2-1.8 1.2-1.3 1.7-3.1 1.5-5.2-.1-1.1-.4-2.1-.9-2.9s-1.3-1.5-2.2-2c-.8-.5-1.7-.8-2.7-1.1-.6-.2-1.3-.3-2.1-.4v-4.3c0-.7-.5-1.2-1.2-1.2h-9.1c-.7 0-1.2.5-1.2 1.2v4.2c-.3 0-.5 0-.9 0h-4.5c-.3 0-.6.1-.8.3s-.3.5-.3.8v3.5c0 .7.5 1.2 1.2 1.2h2.3c.5 0 .6.1.7.4v14.3h-2.3c-.6 0-1.1.4-1.2 1l-.6 3.9c-.1.3 0 .7.3 1 .2.3.6.4.9.4h4.2 1.1v4.2c0 .7.5 1.2 1.2 1.2h9.1c.7 0 1.2-.5 1.2-1.2v-4.3c.8-.1 1.5-.1 2.1-.3 1-.2 1.9-.4 2.8-.8s1.7-.9 2.4-1.5 1.2-1.4 1.6-2.3.7-1.9.8-3c.2-2.2-.2-4-1.2-5.3z" fill="#ede5f4"></path>
                    <path d="m50.5 32.1c-.6-.7-1.3-1.3-2.2-1.8 1.2-1.3 1.7-3.1 1.5-5.2-.1-1.1-.4-2.1-.9-2.9s-1.3-1.5-2.2-2c-.8-.5-1.7-.8-2.7-1.1-.6-.2-1.3-.3-2.1-.4v-4.3c0-.7-.5-1.2-1.2-1.2h-4.7v37.5h4.7c.7 0 1.2-.5 1.2-1.2v-4.3c.8-.1 1.5-.1 2.1-.3 1-.2 1.9-.4 2.8-.8s1.7-.9 2.4-1.5 1.2-1.4 1.6-2.3.7-1.9.8-3c.3-2.1-.1-3.9-1.1-5.2z" fill="#d3c1e7"></path>
                </svg>
                <h2 id="paxful-way-title" class="c-StaticPaxfulWayContent__heading">The Paxful way <br><strong>to buy bitcoin</strong></h2>
            </div>
        </div>

        <p class="c-StaticPaxfulWayContent__largeLabel">
            Here at Paxful, we want to revolutionize your finances by way of bitcoin. Millions of people around the world are left stranded without access to proper financial services. We think that’s not right. Our goal is to give everyone the opportunity to do exactly what they want with their money. Little by little, we want to see palpable changes made in people’s everyday lives.
        </p>

        <div class="contentInTwoCol">
            <p>
                Our platform is built on the foundation of peer-to-peer finance. That means you have the ability to buy bitcoin directly from other people just like you. No banks, no big corporations. Instead, you’re joining a community made up of over 2 million who have committed to regaining control of their finances.
            </p>
            <p>
                With over 300 available payment methods, you can buy bitcoin using virtually any payment method of your choosing. From bank transfers to payment apps and even gift cards, we have a little something for everyone. Are you more of a cash person? We got you covered. Paxful has and will continue to support cash in person trades.
            </p>
            <p>
                The P2P finance revolution is here and we’re happy you’re a part of it. With thousands of great offers, constantly improving technology, and a growing network, the possibilities at Paxful are endless.
            </p>
        </div>
    </section>
</div>
</section>

<app-footer></app-footer>



