<app-navbar></app-navbar>

<section>
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center mt-4"> 
          <h1>Reset Password</h1>
        </div>
            <div class="col-md-6 offset-3">
            <div class="signin-form">
              <form [formGroup]="accountDetailsForm" novalidate
              (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">

                  
                <div class="input-container"  >
                  <i class="fa fa-envelope icon"></i>
                  <input class="input-field" type="text" placeholder="Email"
                    name="email" 
                    formControlName="email"
                    required autocomplete="off">
                </div>
                <div class="err">
                  <mat-error *ngFor="let validation of account_validation_messages.email">
                    <mat-error class="error-message"
                     *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched)">{{validation.message}}</mat-error>
                  </mat-error>
              </div>

              <div formGroupName="matching_passwords" >
                <div class="input-container">
                  <i class="fa fa-key icon"></i>
                  <input class="input-field_Password" type="{{ password }}" 
                    placeholder="Password" formControlName="password"
                    name="psw" [type]="hide ? 'password' : 'text'">
                  <a class="Password_Icon"><mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}} </mat-icon></a>
                </div>

                <div class="err">
                  <mat-error *ngFor="let validation of account_validation_messages.password">
                    <mat-error class="error-message" *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (accountDetailsForm.get('matching_passwords').get('password').dirty || accountDetailsForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </div>

                  <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" type="password" placeholder="Confirm-Password"
                    formControlName="confirm_password" ([errorStateMatcher])="parentErrorStateMatcher" required>
                  </div>
                  <div class="err">
                    <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
                      <mat-error class="error-message"
                       *ngIf="(accountDetailsForm.get('matching_passwords')
                       .get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matching_passwords').hasError(validation.type)) && (accountDetailsForm.get('matching_passwords').get('confirm_password').dirty || accountDetailsForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  
                  </div>
                </div>

                  <div fxLayoutAlign="center center">
                    <re-captcha (resolved)="resolved($event)" siteKey="6LdwMMgUAAAAAGteaHHXv3OTn8I9nYXO-USZVdbk"></re-captcha>  
                  </div>
                  <div class="btnheight" fxLayoutAlign = "center center"> <button mat-button type="submit" class="btn btnsubmit"  [disabled]="!accountDetailsForm.valid">RESET PASSWORD</button></div>
                 </form>  
                </div>        
            </div>
        </div>
    </div>

</section>





<app-footer></app-footer>