<!-- FOOTER SECTION -->
<!-- <footer class="footer-section">
    <div class="container">   
        <div class="row text-center">
            <div class="col-lg-12 footer-heading">
                <div class="row text-center">
                    <div class="footer-col1">
                        <div class="text-center">
                                <img src="assets/images/osiz-logo 1.png" style="width:50%;height: 200px;">
                        </div>
                     <ul class="text-center">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Terms</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">FAQs</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 footer-heading text-center">
                <h2 >Get in touch</h2>
                    <img src="assets/images/download-on-the-app-store-apple-2.svg" style="width:10%">
                    <img src="assets/images/512px-Google_Play_Store_badge_EN.svg.png" style="width:10%">
                <div class="social-links">
                    <a>Follow us :</a>
                    <span><a href="#"><i class="fa fa-facebook-square"></i></a></span>
                    <span><a href="#"><i class="fa fa-twitter"></i></a></span>
                    <span><a href="#"><i class="fa fa-reddit-alien" ></i></a></span>
                    <span><a href="#"><i class="fa fa-youtube-play" ></i></a></span>
                    <span><a href="#"><i class="fa fa-instagram" ></i></a></span>
                </div>
                <p>© 2019 Crypto Coin Comparison Ltd</p>
            </div>
        </div>
  </div>
</footer>

 -->



 <!-- New Footer -->
 <footer class="footerBG">
     <div class="container-fluid footer-section">
         <div class="row">
             <div class="col-lg-12 footer-img">
                 <img src="assets/images/logo.png">
             </div>
         </div>
             <div class="row mt-4">
                 <div class="col-lg-4">
                     <h3 class="footer-heading">Explore Osiz_LBC</h3>
                     <ul class="footer-links">
                        <li>Buy Crypto</li>
                        <li>Get a Crypto wallet</li>
                        <li>Affiliate Program</li>
                        <li>Payment methods</li>
                        <li>Virtual Crypto kiosk</li>
                     </ul>
                 </div>
                 <div class="col-lg-4">
                     <h3 class="footer-heading">Services</h3>
                     <ul class="footer-links">
                        <li>About Us</li>
                        <li>Blog</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Support Ticket</li>
                     </ul>
                 </div>
                 <div class="col-lg-4">
                     <div class="">
                         <h3 class="footer-heading">Contact_As</h3>
                     <ul class="footer-links">
                        <li><label><i class="fa fa-envelope" style="font-size: 18px;padding-right: 10px"></i> </label>osizlbc@osiztech.com</li>
                        <li> <label> <i class="fa fa-phone" style="font-size: 18px;padding-right: 10px"></i> </label>9872763123</li>
                        <li> <label> <i class="fa fa-globe" style="font-size: 18px;padding-right: 10px"></i>   </label>India</li>
                     </ul>
                     <h3 class="footer-heading">Community</h3>
                     <ul class="social-links">
                         <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fa fa-instagram" ></i></a></li>
                         <li><a href="#"><i class="fa fa-reddit-alien" ></i></a></li>
                         <li></li>
                         <li></li>
                     </ul>
                     </div>
                 </div>
             </div>
             <div class="row text-center">
                 <div class="col-lg-12">
                     <h2 class="copyright">&copy;Osiz_LBC &#174;2019</h2>
                 </div>
             </div>
     </div>
 </footer>