<app-navbar></app-navbar>
<section class="BackGroundColor">
    <div class="container" fxLayout="column">
      <div class="row title-container" fxLayoutAlign = "center center">
        <div class="col-lg-10 offset-1">
        <div class="col-lg-8 col-md-8 hero-title">
            <h1 class="Welcome_Heading"style="">Welcome to Osiz</h1>
            <p><span style="font-weight: bold">Join the peer-to-peer finance revolution.</span>
        The Paxful Marketplace is here to radically transform the way you spend money.
        Use hundreds of different payment methods to buy and sell bitcoin.</p>
        </div>
        <div class="col-lg-4 col-md-4 text-center Welcome_IMG">
            <img src="/assets/images/svg_il_hero_home.svg">
        </div>
      </div>
    </div>
    </div>  
</section>

<!-- Payment Section -->

<section class="BackGroundColor">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-sm-12 col-xs-12">
            <div class="mainWidgetContainer pt-lg-5" id="main-widget">
                    <div class="error-boundary1">
                        <div class="c-buyWidget c-tempBuyWidget">
                            <div class="px-lg-5 px-0">
                                <div class="row">
                                    <div class="col-lg-6 mb-4" fxHide fxShow.gt-sm >
            <div class="u-flex-grow">
                <div alt="Any payment method" class="c-buyWidget__columnLabel u-hidden-xs">Buy bitcoin with any payment method</div>
                <div class="c-buyWidget__tabs u-mt-15 u-hidden-xs">
                    <div class="BuyCoinsTabs__container">
                        
                           <div class="BuyCoinsTabs__tab BuyCoinsTabs__selected" href="#1" data-toggle="tab">POPULAR PAYMENT METHODS IN India</div>
                        
                            <div class="BuyCoinsTabs__tab"  href="#2" data-toggle="tab">Popular on Paxful</div>
                        
                    </div>
                </div>

                <div class="c-buyWidget__paymentTypes u-hidden-xs tab-content">
                    <div class="tab-pane active" id="1">
                        <div class="BuyCoinsTopPayments__container">
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/bank-transfers.svg" class="BuyCoinsTopPaymentsItem__icon" alt="IMPS Transfer">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">IMPS Transfer</div>
                                </div>
                            </div>  
                          <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/bank-transfers.svg" class="BuyCoinsTopPaymentsItem__icon" alt="UPI Transfer">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">UPI Transfer</div>
                                </div>
                            </div> 
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/online-transfers.svg" class="BuyCoinsTopPaymentsItem__icon" alt="Paytm Online Wallet">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">Paytm Online Wallet</div>
                                </div>
                            </div>
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/online-transfers.svg" class="BuyCoinsTopPaymentsItem__icon" alt="PhonePe">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">PhonePe</div>
                                </div>
                            </div>
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/online-transfers.svg" class="BuyCoinsTopPaymentsItem__icon" alt="Bhim">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">Bhim</div>
                                </div>
                            </div>
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/bank-transfers.svg" class="BuyCoinsTopPaymentsItem__icon" alt="Bank Transfer">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">Bank Transfer</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="2">
                        <div class="BuyCoinsTopPayments__container">
                             <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/gift-cards.svg" class="BuyCoinsTopPaymentsItem__icon" alt="IMPS Transfer">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">IMPS Transfer</div>
                                </div>
                            </div> 
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/gift-cards.svg" class="BuyCoinsTopPaymentsItem__icon" alt="UPI Transfer">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">UPI Transfer</div>
                                </div>
                            </div>
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/gift-cards.svg" class="BuyCoinsTopPaymentsItem__icon" alt="Paytm Online Wallet">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">Paytm Online Wallet</div>
                                </div>
                            </div>
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/gift-cards.svg" class="BuyCoinsTopPaymentsItem__icon" alt="PhonePe">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">PhonePe</div>
                                </div>
                            </div>
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/gift-cards.svg" class="BuyCoinsTopPaymentsItem__icon" alt="Bhim">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">Bhim</div>
                                </div>
                            </div>
                            <div class="BuyCoinsTopPaymentsItem__item"><img src="/assets/images/bank-transfers.svg" class="BuyCoinsTopPaymentsItem__icon" alt="Bank Transfer">
                                <div class="BuyCoinsTopPaymentsItem__wrapText">
                                    <div class="BuyCoinsTopPaymentsItem__text">Bank Transfer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="PaymentMethodSelect__selectPaymentInput"><input class="PaymentMethodSelect__selectPaymentInputItem" readonly="" value="Bank Transfer"><button type="button" class="PaymentMethodSelect__selectPaymentInputCta" (click)="parentModal1.show()">Show all</button>
                <div class="modal fade" bsModal #parentModal1="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header" style="border-bottom: none;">
                         <button type="button" class="close pull-right close1" aria-label="Close" (click)="parentModal1.hide()" >
                          <span aria-hidden="true" >&times;</span>
                        </button>
                      </div>
                      <app-model-view></app-model-view>
                      <div class="modal-body">

                      </div>
                    </div>
                  </div>
                </div>
                                   
            </div>

</div>
                                    <div class="col-lg-6 c-buyWidget__rightColumn searchForm__col">
                                        <div>
                                            <div class="searchForm__label c-buyWidget__columnLabel btcLogoImage">Receive <img src="/assets/images/widget_BTC_icon.svg" alt="Bitcoin icon"> bitcoin</div>
                                            <div class="c-formGroup"><label class="c-formGroup__label c-currencyAmountPicker__label">Amount you pay</label>
<div class="CurrencyAmountPicker__currencyAmountPicker">
                                        <input class="CurrencyAmountPicker__currencyAmountPickerInput" placeholder="Any amount" type="text" value="">
                                        <button type="button" class="Button__button CurrencyAmountPicker__button btn btn-unstyled btn-lg" data-toggle="collapse" href="#collapseExample1">
                                <div class="d-flex align-items-center">Any currency<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="CurrencyAmountPicker__arrowIcon">
                                <polyline points="6 9 12 15 18 9"></polyline></svg>
                                </div>
                             </button>
                                    </div>
<div class="CurrencyAmountPicker__selectWrapper  collapse" id="collapseExample1">
            <div class="CurrencyAmountPicker__selectContainer">
                <div class="CurrencyAmountPicker__singleSelectContainer css-2b097c-container">
                    <div class="CurrencyAmountPicker__controlWrapper"><button type="button" class="CurrencyAmountPicker__backButton"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" viewBox="0 0 24 24" fill="none" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  ><polyline points="15 18 9 12 15 6"></polyline></svg></button>
                        <div class="CurrencyAmountPicker__control css-0 collapse">
                            <div class=" css-1hwfws3">
                                <div class="CurrencyAmountPicker__inputWrapper">
                                    <div class="css-1g6gooi">
                                        <div class="CurrencyAmountPicker__input" style="display: inline-block;"><input autocapitalize="none" autocomplete="off" autocorrect="off"  spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" value="" style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                            <div style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" css-1wy0on6"><span class=" css-0"></span>
                                <div class=" css-1frir8c-indicatorContainer collapse" id="collapseExample"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"  fill="none" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65" ></line></svg></div>
                            </div>
                        </div>
                    </div>
                    <div class="CurrencyAmountPicker__menuContainer CurrencyAmountPicker__withGradient css-0"  >
                        <div class="CurrencyAmountPicker__menuList css-0">
                            <div class="CurrencyAmountPicker__optionsWrapper CurrencyAmountPicker__popularCurrenciesWrapper">
                                <div class=" css-0">
                                    <div class="CurrencyAmountPicker__groupHeader">
                                        <div class=" css-0">Most popular</div>
                                    </div>
                                    <div>
                                        <div class="CurrencyAmountPicker__currencyOption CurrencyAmountPicker__selectedOption css-0">Any currency<span class="CurrencyAmountPicker__currencyAbbreviation">$£€</span></div>
                                        <div class="CurrencyAmountPicker__currencyOption css-0">US Dollar<span class="CurrencyAmountPicker__currencyAbbreviation">USD</span></div>
                                        <div class="CurrencyAmountPicker__currencyOption css-0">Euro<span class="CurrencyAmountPicker__currencyAbbreviation">EUR</span></div>
                                        <div class="CurrencyAmountPicker__currencyOption css-0">British Pound<span class="CurrencyAmountPicker__currencyAbbreviation">GBP</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="CurrencyAmountPicker__optionsWrapper CurrencyAmountPicker__allCurrenciesWrapper"    *ngFor="let Currency of currency">
                                <div class=" css-0">

                                   <div>
                                        <div class="CurrencyAmountPicker__currencyOption css-0"> {{ Currency.name }} <span class="CurrencyAmountPicker__currencyAbbreviation"> {{ Currency.cc }} </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                            <div class="c-formGroup u-hidden-md-down"><label class="c-formGroup__label">Amount you receive in BTC</label><input class="c-currencyAmountPicker__amount c-formGroup__inputText -lg" type="text" pattern="[0-9]*" placeholder="" value="">
                    <p class="c-formGroup__helpText c-formGroup__helpText__customBottom">Current market price of bitcoin: <span>512,611.6 INR</span></p>
                    <p class="c-formGroup__helpText c-formGroup__helpText__description">You can buy any fraction of a bitcoin</p>
                                                </div>
                                            </div>
                                            <div class="btnSearch"><a class="btnSearch__link"><button type="submit" routerLink='/Buy-BitCoin' class="c-button c-button--secondary -lg c-buyWidget__submitBtn js-loadingButton -solid"><div>Search for offers</div><small class="btnSearch__small">and get bitcoin now</small></button></a></div>
                                        </div>
                                    </div>
                                </div>
                                <footer class="c-buyWidget__footer px-5">
                                    <div class="c-buyWidget__stats">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                <div class="c-buyWidget__stat"><img src="/assets/images/il_shield_lg_1.svg" class="c-buyWidget__stat__icon" alt="SECURED BY ESCROW"><span class="c-buyWidget__stat__text">SECURED BY ESCROW</span></div>
                                            </div>
                                            <div class="col-sm-6 col-md-3">
                                                <div class="c-buyWidget__stat"><img src="/assets/images/il_customers_lg_1.svg" class="c-buyWidget__stat__icon" alt="3 MILLION HAPPY USERS"><span class="c-buyWidget__stat__text">3 MILLION HAPPY USERS</span></div>
                                            </div>
                                            <div class="col-sm-6 col-md-3">
                                                <div class="c-buyWidget__stat"><img src="/assets/images/il_bitcoinStar_lg_1.svg" class="c-buyWidget__stat__icon" alt="Thousands of trusted offers"><span class="c-buyWidget__stat__text">Thousands of trusted offers</span></div>
                                            </div>
                                            <div class="col-sm-6 col-md-3">
                                                <div class="c-buyWidget__stat"><img src="/assets/images/il_bitcoincoin_lg_1.svg" class="c-buyWidget__stat__icon" alt="BILLIONS IN GLOBAL VOLUME"><span class="c-buyWidget__stat__text">BILLIONS IN GLOBAL VOLUME</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</section>


<!-- Sell and Spend your bitcoin -->
<section class="BackGroundColor">
    
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-heading">
        <h2>Sell and Spend your bitcoin</h2>
    </div>        
        </div>
    </div>
        <div class="row text-center sell-spend-bitcoin">
            <div class="col-md-4">
                <div class="actionsBoard__item">
                    <div class="actionsBoard__imageWrap block-center">
                        <img class="actionsBoard__image" alt="To Bank" src="/assets/images/icon-bills.svg"><br>
                    </div>
                    <div class="actionsBoard__body">
                        <h3 class="actionsBoard__title h5">To Bank</h3>
                        <p class="actionsBoard__description">
                            Withdraw to your bank account anywhere in the world.
                        </p>
                        <div class="actionsBoard__actions">
                            <a href="/sell-bitcoin/?group=bank-transfers" data-title="Pay Bills" data-page="Home" class="c-link  js-track-spend-btc">
                                 Withdraw
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="actionsBoard__item">
                    <div class="actionsBoard__imageWrap">
                        <img class="actionsBoard__image" alt="To Bank" src="/assets/images/icon-cash-big.svg">
                    </div>
                    <div class="actionsBoard__body">
                        <h3 class="actionsBoard__title h5">Cash</h3>
                        <p class="actionsBoard__description">
                            Get cash delivered right to your door or arrange a pickup at an agreed location nearby.
                        </p>
                        <div class="actionsBoard__actions">
                            <a href="/sell-bitcoin/?group=bank-transfers" data-title="Pay Bills" data-page="Home" class="c-link  js-track-spend-btc">
                                Cash out your bitcoin
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="actionsBoard__item">
                    <div class="actionsBoard__imageWrap">
                        <img class="actionsBoard__image" alt="To Bank" src="/assets/images/icon-send.svg">
                    </div>
                    <div class="actionsBoard__body">
                        <h3 class="actionsBoard__title h5">Send Money</h3>
                        <p class="actionsBoard__description">
                            Send funds to your bank account, PayPal account, or to friends and family anywhere in the world.
                        </p>
                        <div class="actionsBoard__actions">
                            <a href="/sell-bitcoin/?group=bank-transfers" data-title="Pay Bills" data-page="Home" class="c-link  js-track-spend-btc">
                                Send money
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="row text-center sell-spend-bitcoin">
            <div class="col-md-4">
                <div class="actionsBoard__item">
                    <div class="actionsBoard__imageWrap">
                        <img class="actionsBoard__image" alt="To Bank" src="/assets/images/icon-giftcard-big.svg">
                    </div>
                    <div class="actionsBoard__body">
                        <h3 class="actionsBoard__title h5">Discount Gift Cards</h3>
                        <p class="actionsBoard__description">
                           Sell your bitcoin for up to 50% off gift cards from iTunes, Amazon, and many more of your favourite vendors!
                        </p>
                        <div class="actionsBoard__actions">
                            <a href="/sell-bitcoin/?group=bank-transfers" data-title="Pay Bills" data-page="Home" class="c-link  js-track-spend-btc">
                                 Get your discount gift card
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="actionsBoard__item">
                    <div class="actionsBoard__imageWrap">
                        <img class="actionsBoard__image" alt="To Bank" src="/assets/images/icon-digital.svg">
                    </div>
                    <div class="actionsBoard__body">
                        <h3 class="actionsBoard__title h5">Digital Currencies</h3>
                        <p class="actionsBoard__description">
                           Trade in your bitcoin for hundreds of different digital currencies of your choosing.
                        </p>
                        <div class="actionsBoard__actions">
                            <a href="/sell-bitcoin/?group=bank-transfers" data-title="Pay Bills" data-page="Home" class="c-link  js-track-spend-btc">
                                Buy cryptocurrency
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="actionsBoard__item">
                    <div class="actionsBoard__imageWrap">
                        <img class="actionsBoard__image" alt="To Bank" src="/assets/images/icon-car.svg">
                    </div>
                    <div class="actionsBoard__body">
                        <h3 class="actionsBoard__title h5">Goods & Services</h3>
                        <p class="actionsBoard__description">
                            Use your bitcoin to purchase necessities like groceries, appliances, credit, and virtually anything else.
                        </p>
                        <div class="actionsBoard__actions">
                            <a href="/sell-bitcoin/?group=bank-transfers" data-title="Pay Bills" data-page="Home" class="c-link  js-track-spend-btc">
                                Coming soon
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btnradius" fxLayoutAlign = "center center"> <button mat-button class="btn-submit">SPEND YOUR BITCOIN</button></div>
    </div>
</section>

<section class="BackGroundColor Display_Carousel">
 <div class="container">
    <div class="row Testimonials text-center">
        <div class="col-lg-12 page-wallet text-center">
            <h2 class="h1">Testimonials</h2>
        <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner col-lg-10 offset-1 text-center">
                <div class="item active">
                    <!-- <div class="row text-center"> -->
                        <!-- <div class="col-lg-12"> -->
                            <h3 class="Testimonials-content">"Great looking website with all the possible ways to buy bitcoins all over the world with quick and professional support!"</h3>
                            <p><a href="" style="font-weight: 600;">FAHIMIPOUR</a> Osiz VENDOR</p>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
                <div class="item">
                    <!-- <div class="row text-center"> -->
                       <!-- <div class="col-lg-12"> -->
                                <h3 class="Testimonials-content">"Paxful is my first Bitcoin experience. Started as your regular newbie first time bitcoin buyer - asking legacy traders what is a wallet and why I need to follow verification steps. Sold over 400+ bitcoins to date and helped over 800 newbies like myself to dive in to this new currency." </h3>
                                 <p><a href="" style="font-weight: 600;">EXIMIUS</a> Osiz VENDOR</p>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
                <div class="item">
                    <!-- <div class="row text-center"> -->
                        <!-- <div class="col-lg-12"> -->
                            <h3 class="Testimonials-content">"Great looking website with all the possible ways to buy bitcoins all over the world with quick and professional support!"</h3>
                            <p><a href="" style="font-weight: 600;">MAINEBITCOIN </a> Osiz VENDOR</p>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#tcb-testimonial-carousel" data-slide="prev"> <img src="assets/images/icon-arrow-left.svg" style="width:15%"> </a>
            <a class="right carousel-control" href="#tcb-testimonial-carousel" data-slide="next"> <img src="assets/images/icon-arrow-right.svg" style="width:15%"> </a>
        </div>
    </div>
    </div>
</div>
</section>

<section class="BackGroundColor">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12  col-md-12 col-sm-12 online-transfers-content">
        <p>Buy and sell bitcoin using<strong> over 300 payment options.</strong></p>
            <p>Trade directly with other people just like you!</p>
      </div>
    </div>
   
  </div>
</section>

<!-- Buy and sell Bitcoin -->
<section class="BackGroundColor">
        <div class="buyBitcoinStaticMethods container">
           <div class="row">
            <div class="col-12 col-sm-6 px-4 px-sm-5">
                <article class="paymentMethodGroup">
                    <header class="row mx-0 mb-3">
                        <img src="https://paxful.com/assets/images/svg-icons/icon-bank-big.svg" class="paymentMethodGroup__image" alt="Bank transfers">
    
                        <div class="col d-flex justify-content-center flex-column">
                            <h3 class="paymentMethodGroup__title heading-3 m-0">Bank transfers</h3>
                            <ul class="list-unstyled m-0">
                                <li class="badge badge-pill badge-light">
                                    Secure
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Reliable
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Best Price
                                </li>
                            </ul>
                        </div>
                    </header>
    
                    <p class="js-payment-group-desc" data-group-buy-desc="Buy bitcoin by making a transfer from your bank account to a bitcoin vendor on Paxful. Once they receive the funds, bitcoin is sent to you. Works worldwide." data-group-sell-desc="Sell bitcoin by having money sent directly to your bank account. Immediate and works worldwide.">Buy bitcoin by making a transfer from your bank account to a bitcoin vendor on Osiz_LBC. Once they receive the funds, bitcoin is sent to you. Works worldwide.</p>
    
                    <footer class="paymentMethodGroup__footer">
                        <div class="paymentMethodGroup__actions">
                            <a href="" data-group-slug="bank-transfers" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                    Find offers
                                </a>
                        </div>
                        
                    </footer>
                </article>
            </div>
            <div class="col-12 col-sm-6 px-4 px-sm-5">
                <article class="paymentMethodGroup">
                    <header class="row mx-0 mb-3">
                        <img src="https://paxful.com/assets/images/svg-icons/icon-online-big.svg" class="paymentMethodGroup__image" alt="Online wallets">
    
                        <div class="col d-flex justify-content-center flex-column">
                            <h3 class="paymentMethodGroup__title heading-3 m-0">Online wallets</h3>
                            <ul class="list-unstyled m-0">
                                <li class="badge badge-pill badge-light">
                                    Convenient
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Personalised
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Easy
                                </li>
                            </ul>
                        </div>
                    </header>
    
                    <p class="js-payment-group-desc" data-group-buy-desc="Don’t want to leave the house? You can use a number of popular payment apps. Once the transfer is complete, bitcoin is yours." data-group-sell-desc="Don’t want to leave the house? Sell your bitcoin in exchange for value on a number of popular payment apps.">Don’t want to leave the house? You can use a number of popular payment apps. Once the transfer is complete, bitcoin is yours.</p>
    
                    <footer class="paymentMethodGroup__footer">
                        <div class="paymentMethodGroup__actions">
                            <a href="" data-group-slug="online-transfers" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                    Find offers
                                </a>
                        </div>
                       
                    </footer>
                </article>
            </div>
            <div class="col-12 col-sm-6 px-4 px-sm-5">
                <article class="paymentMethodGroup">
                    <header class="row mx-0 mb-3">
                        <img src="https://paxful.com/assets/images/svg-icons/icon-giftcard-big.svg" class="paymentMethodGroup__image" alt="Gift cards">
    
                        <div class="col d-flex justify-content-center flex-column">
                            <h3 class="paymentMethodGroup__title heading-3 m-0">Gift cards</h3>
                            <ul class="list-unstyled m-0">
                                <li class="badge badge-pill badge-light">
                                    Personalised
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Private
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Large Variety
                                </li>
                            </ul>
                        </div>
                    </header>
    
                    <p class="js-payment-group-desc" data-group-buy-desc="Want to buy $20 of bitcoin fast? Pick up a gift card with cash, save the receipt, and exchange it here for instant bitcoin." data-group-sell-desc="You can sell as little as $20 of bitcoin in an instant by accepting gift cards as payment method from many of your favourite vendors.">Want to buy $20 of bitcoin fast? Pick up a gift card with cash, save the receipt, and exchange it here for instant bitcoin.</p>
    
                    <footer class="paymentMethodGroup__footer">
                        <div class="paymentMethodGroup__actions">
                            <a href="" data-group-slug="gift-cards" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                    Find offers
                                </a>
                        </div>
                        
                    </footer>
                </article>
            </div>
            <div class="col-12 col-sm-6 px-4 px-sm-5">
                <article class="paymentMethodGroup">
                    <header class="row mx-0 mb-3">
                        <img src="https://paxful.com/assets/images/svg-icons/icon-cash-big.svg" class="paymentMethodGroup__image" alt="Cash">
    
                        <div class="col d-flex justify-content-center flex-column">
                            <h3 class="paymentMethodGroup__title heading-3 m-0">Cash</h3>
                            <ul class="list-unstyled m-0">
                                <li class="badge badge-pill badge-light">
                                    Convenient
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Hassle-free
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Instant
                                </li>
                            </ul>
                        </div>
                    </header>
    
                    <p class="js-payment-group-desc" data-group-buy-desc="Buy bitcoin with cash. No bank account needed. A bitcoin vendor on Paxful will guide you to deposit cash into their account. Once they receive the deposit, bitcoin is sent to you." data-group-sell-desc="Sell bitcoin for cash. Provide instructions for the buyer on how to make a deposit into your account.">Buy bitcoin with cash. No bank account needed. A bitcoin vendor on Osiz_LBC will guide you to deposit cash into their account. Once they receive the deposit, bitcoin is sent to you.</p>
    
                    <footer class="paymentMethodGroup__footer">
                        <div class="paymentMethodGroup__actions">
                            <a href="" data-group-slug="cash-deposits" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                    Find offers
                                </a>
                        </div>
                        
                    </footer>
                </article>
            </div>
            <div class="col-12 col-sm-6 px-4 px-sm-5">
                <article class="paymentMethodGroup">
                    <header class="row mx-0 mb-3">
                        <img src="https://paxful.com/assets/images/svg-icons/icon-card-big.svg" class="paymentMethodGroup__image" alt="Debit/credit cards">
    
                        <div class="col d-flex justify-content-center flex-column">
                            <h3 class="paymentMethodGroup__title heading-3 m-0">Debit/credit cards</h3>
                            <ul class="list-unstyled m-0">
                                <li class="badge badge-pill badge-light">
                                    Secure
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Easy
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Convenient
                                </li>
                            </ul>
                        </div>
                    </header>
    
                    <p class="js-payment-group-desc" data-group-buy-desc="Conveniently use your debit or credit card to purchase bitcoin on Paxful." data-group-sell-desc="Buyers love convenience. Accept debit and credit card payments to sell your bitcoin in an instant.">Conveniently use your debit or credit card to purchase bitcoin on Osiz_LBC.</p>
    
                    <footer class="paymentMethodGroup__footer">
                        <div class="paymentMethodGroup__actions">
                            <a href="/buy-bitcoin/?group=debitcredit-cards" data-group-slug="debitcredit-cards" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                    Find offers
                                </a>
                        </div>
                       
                    </footer>
                </article>
            </div>
            <div class="col-12 col-sm-6 px-4 px-sm-5">
                <article class="paymentMethodGroup">
                    <header class="row mx-0 mb-3">
                        <img src="https://paxful.com/assets/images/svg-icons/icon-digital.svg" class="paymentMethodGroup__image" alt="Digital currencies">
    
                        <div class="col d-flex justify-content-center flex-column">
                            <h3 class="paymentMethodGroup__title heading-3 m-0">Digital currencies</h3>
                            <ul class="list-unstyled m-0">
                                <li class="badge badge-pill badge-light">
                                    Borderless
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Futuristic
                                </li>
                                <li class="badge badge-pill badge-light">
                                    Secure
                                </li>
                            </ul>
                        </div>
                    </header>
    
                    <p class="js-payment-group-desc" data-group-buy-desc="Trade your favorite digital currencies or tokens and instantly get bitcoin transferred directly to your wallet." data-group-sell-desc="Trade bitcoin with buyers in exchange for some of your other favourite digital currencies and tokens.">Trade your favorite digital currencies or tokens and instantly get bitcoin transferred directly to your wallet.</p>
    
                    <footer class="paymentMethodGroup__footer">
                        <div class="paymentMethodGroup__actions">
                            <a href="" data-group-slug="digital-currencies" class="btn btn-primary js-payment-group-link d-block d-sm-inline-block">
                                    Find offers
                                </a>
                        </div>
                        
                    </footer>
                </article>
            </div>
        </div>
    </div>  
    </section>
    

<section class="BackGroundColor">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <iframe src="https://www.youtube.com/embed/KUqtlA0Joh0" height="300" width="400"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<section class="BackGroundColor">
    <div class="container">
        <div class="section-heading">
           <h2>With Osiz you pay</h2>
        </div>
        <div class="row text-center">
            <div class="col-lg-4">
                <div class="with-paxful">
                  <div class="text-center trade-img">
                  <img src="assets/images/icon-income-big.svg" style="width: 15%;">
                  </div>
                    <div><h4>Buy bitcoin online</h4></div>
                        <p>
                        Buy bitcoin on Paxful from other people in real time. Trading occurs online via live chat.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="with-paxful">
                  <div class="text-center trade-img">
                  <img src="assets/images/icon-income-big.svg" style="width: 15%;">
                  </div>
                    <div><h4>Sell bitcoin</h4></div>
                    <p>
                        Vendors on Paxful can sell bitcoin for numerous payment methods and have the freedom to set their own rates.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="with-paxful">
                
                   <div class="text-center trade-img">
                   <img src="assets/images/icon-shield-big.svg" style="width: 15%;">
                  </div>
                    <div><h4>Trade with secure escrow</h4></div>
                    <p>
                        When you engage in a trade, bitcoin is held in our enterprise escrow system until the trade has successfully completed.
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4">
                <div class="with-paxful">
                
                    <div class="text-center trade-img">
                    <img src="assets/images/icon-rocket-big.svg" style="width: 15%;">
                  </div>
                    <div><h4>Build your reputation</h4></div>
                    <p>
                       We've built a feedback and reputation system that enables you to conduct business with trusted and experienced peers.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="with-paxful">
                  <div class="text-center trade-img">
                    <img src="assets/images/icon-wallet-big.svg" style="width: 15%;">
                  </div>
                    <div><h4>Get a free wallet</h4></div>
                    <p>
                       Our wallet is maintained by BitGo, the leading provider of secure bitcoin wallets. It's secure and directly integrated onto our platform.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="with-paxful">
                
                 <div class="text-center trade-img">
                    <img src="assets/images/icon-bitcoin-plus-big.svg" style="width: 15%;">
                  </div>
                
                    <div><h4>Earn extra income</h4></div>
                    <p>
                      Our Affiliate Program can help you earn bitcoin by sharing your affiliate link. When referrals complete trades, we share part of our fees with you.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="u-pt-48 u-pb-0 BackGroundColor">
    <div class="container">
        <div class="selling-bitcoin-wrapper">
            <div class="selling-bitcoin">
                <h2 class="h2 u-tac">Start <strong>selling bitcoin</strong> <span id="mobile-new-string"> on Paxful</span></h2>

                <div class="row o-align-items-center o-justify-content-between u-mt-32">
                    <div class="u-tac-down-lg col-xl-5">
                        <p class="u-colour-heading u-font-normal text-md">Paxful is a community made up of millions just like you. People from all corners of the world come here to connect and buy bitcoin directly from others without the hassle of a middleman. Typically, a strong vendor will have the ability to process different payment methods in exchange for bitcoin. It's a simple process and our team is here to help guide you and provide whatever resources you need to build a successful business.</p>

                    </div>
                    <div class="col-md-12 col-lg-6">
                        <!-- <div class=" selling-bitcoin-data-wrapper"> -->
                            <div class="selling-bitcoin-data">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-stat">
                                            <div class="c-stat__icon u-mt-0">
                                                <img src="/assets/images/icon-coins-big.svg" alt="Bitcoins">
                                            </div>
                                            <div>
                                                <div class="c-stat__number">
                                                    480,000<small>+</small>
                                                </div>
                                                <p class="c-stat__note u-mt-0">
                                                    bitcoins bought
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-stat">
                                            <div class="c-stat__icon">
                                                <img src="/assets/images/icon-people-big.svg" alt="Vendors">
                                            </div>
                                            <div>
                                                <div class="c-stat__number">
                                                    7,318
                                                </div>
                                                <p class="c-stat__note u-mt-0">
                                                    Trusted vendors
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-stat">
                                            <div class="c-stat__icon">
                                                <img src="assets/images/icon-like-big.svg" alt="Happy users">
                                            </div>
                                            <div>
                                                <div class="c-stat__number">
                                                    800,000<small>+</small>
                                                </div>
                                                <p class="c-stat__note u-mt-0">
                                                    Happy customers
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      <!--   </div> -->
                    </div>
                </div>

                <div class="row o-justify-content-center u-hidden-xs" fxLayoutAlign="center center">
                    <div class="col-md-4 o-direction-column u-tac">
                        <a routerLink="/vendor" class="c-button c-button--secondary -solid -md u-ttu ">Get started</a>
                        <a routerLink="" class="helplink">Or learn how it works</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="BackGroundColor">
  <div class="container">
    <div class="row">
      <div class="col-md-12 imgBG mt-4 mb-4">
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
