<div class="d-flex align-items-center justify-content-center CountrySpecificSelector__selectorWrapper">
    <div class="SearchSelector__container"><button class="btn btn-light SearchSelector__button SearchSelector__isOpen" data-toggle="collapse"   href="#collapseExample"><i class="fa fa-map-marker" aria-hidden="true" style="color: lightgray;font-size: 20px"></i><span class="label-small SearchSelector__searchLabel">USA</span><div class="ml-2 d-flex align-items-center"><i class="fa fa-chevron-down" aria-hidden="true" style="color: lightgray;font-size: 20px"></i></div></button>
        <div class="SearchSelector__selectWrapper collapse" id="collapseExample">
            <div class="SearchSelector__selectContainer">
                <div class=" css-2b097c-container">
                    <div class=" css-1m2wjt8-control">
                        <div class=" css-1hwfws3">
                            <div class=" css-1wa3eu0-placeholder"></div>
                            <div class="css-1g6gooi">
                                <div class="" style="display: inline-block;"><input autocapitalize="none" autocomplete="off" autocorrect="off" id="react-select-4-input" spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" value="" style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                    <div style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: &quot;Open Sans&quot;, sans-serif; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;"></div>
                                </div>
                            </div>
                        </div>
                        <div class=" css-1ivb3rv"><span class=" css-43ykx9-indicatorSeparator"></span>
                            <div aria-hidden="true" class=" css-1l274o0-indicatorContainer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></div>
                        </div>
                    </div>
                    <div class=" css-196yyg3-menu">
                        <div class=" css-1x0y3y4">
                            
                            <div class=" css-1rl0evz-option" id="react-select-4-option-1" tabindex="-1" *ngFor="let Currency of currency">{{ Currency.Currency_Name }}</div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>