<app-navbar></app-navbar>
<section class="BackGroundColor">
	 <div class="container">

	            <div class="row">
	                <div class="col-lg-4 col-sm-12">
	                  <div class="d-flex align-items-center justify-content-md-start justify-content-xs-center justify-content-center justify-content-xs-center mt-4 mb-md-0"> 
	                        <img class="img-responsive lassicDashboardUserWidget__avatar img-circle" src="https://s3.amazonaws.com/paxful/avatar/2019/12/e6ca590c6cf707b6f3178c9e7b398ebd.jpg" alt="DarlingBalaji">
	                       <!-- <img src="https://s3.amazonaws.com/paxful/avatar/2019/12/e6ca590c6cf707b6f3178c9e7b398ebd.jpg" id="avatar-image" class="js-fullstory-exclude" alt="DarlingBalaji"> -->
	                        <div class="d-flex flex-column align-items-start ml-md-5 ml-3">
	                            <span class="UserProfileUserWidget__username">DarlingBalaji</span>
	                            <span class="js-fullstory-exclude UserProfileUserWidget__emailID mb-1">balajiosiz@bnbrentalscript.com</span>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-8 col-sm-12">
	                <div class="row social-buttons">
	                <div class="col-lg-12">
		                <div class="pull-right text-center">
		                	<a href="">
		                            <i class="fa fa-facebook-square"></i>
		                        </a>
		                        <a href="">
		                            <i class="fa fa-twitter"></i>
		                        </a>
		                        <a href="">
		                            <i class="fa fa-reddit-alien"></i>
		                        </a>
		                </div>
	                   </div>     
                    </div>
	                <div class="user-info countdown countdown-large">
	                    <div class="row countdown-row text-center">

	                    		<div class="col-lg-3 col-sm-12 countdown-section">
		                            <span class="countdown-amount"><i class="fa fa-circle" style="color: green"></i></span>
		                            <span class="feedback-type-text">Seen just now</span>
		                        </div>
		                        <div class="col-lg-3 col-sm-4 countdown-section">
		                            <span class="countdown-amount text-green">+ 0</span>
		                            <span class="feedback-type-text">Positive reputation</span>
		                        </div>
		                        <div class="col-lg-3 col-sm-4 countdown-section">
		                            <div class="feedback-minor">
		                                <div class="countdown-amount text-gray">- 0</div>
		                                <div class="feedback-type-text">Neutral reputation</div>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 col-sm-4 countdown-section">
		                            <div class="feedback-minor">
		                                <div class="countdown-amount text-red">- 0</div>
		                                <div class="feedback-type-text">Negative reputation</div>
		                            </div>
		                        </div>
	                    </div>
	                </div>
            </div>

			</div>

	</div>
</section>

<section class="BackGroundColor">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="UserInfo">
					<h1>Verifications</h1>
					<ul>
						<li class="UserInfo_list">
							<i class="fa fa-envelope" aria-hidden="true" style="color: red"></i><span>Email not Verified</span>
						</li>
						<li class="UserInfo_list">
							<i class="fa fa-phone" aria-hidden="true" style="color: green"></i><span>Phone Verified</span>
						</li>
					</ul>
				</div>

				<div class="UserInfo mt-4">
					<h1>Info</h1>
					<ul>
						<li class="UserInfo_list">
							Languages: English (English)
						</li>
						<li class="UserInfo_list">
							0 Trade partners
						</li>
						<li class="UserInfo_list">
							0 Trades
						</li>
						<li class="UserInfo_list">
							Trade volume:<strong> 0 BTC </strong>
						</li>
						<li class="UserInfo_list">
							Trusted by:<strong>  0 people </strong>
						</li>
						<li class="UserInfo_list">
							Blocked by:<strong> 0 people </strong>
						</li>
						<li class="UserInfo_list">
							Joined:<strong> 2 weeks ago </strong>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="UserInfo1">
					<h1>Offers</h1>
					<div class="UserInfo1_Details">
						<p>User has no active offers</p>
					</div>
				</div>
				<div class="UserInfo1 mt-4">
					<h1>Feedback</h1>
					<div class="UserInfo1_Details">
						<p>No Feedback yet</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>