<!-- <section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="userImg"><img src="assets/images/avatar.webp"></div>
				<div class="userDetails"><span>Osiz Tech</span>
					<p>0 BTC</p>
					<p><span>+o</span><span>-0</span></p></div>
			</div>
			<div class="col-lg-6">
				
			</div>
		</div>
	</div>
</section>

 -->
 <app-navbar></app-navbar>
 <section>
	<div class="section summary-section">
	    <div class="container">
	        <div class="classicDashboardUserWidget">
	            <div class="row d-flex align-items-center flex-row flex-sm-row flex-xs-column align-items-sm-center justify-content-xs-center">
	                <div class="col-md-5 col-sm-12">
	                    <div class="d-flex align-items-center justify-content-md-start justify-content-xs-center justify-content-center justify-content-xs-center mb-4 mb-md-0">
	                        <img class="img-responsive lassicDashboardUserWidget__avatar img-circle" src="assets/images/avatar.webp" alt="DarlingBalaji">
	                        <div class="d-flex flex-column align-items-start ml-md-5 ml-3">
	                            <span class="classicDashboardUserWidget__username">DarlingBalaji</span>
	                            <span class="js-fullstory-exclude classicDashboardUserWidget__balance mb-1">0 BTC</span>
	                            <span class="classicDashboardUserWidget__rating">
	                                <span class="text-success font-weight-bold">+0</span> / <span class="text-danger font-weight-bold">-0</span>
	                            </span>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-7 col-sm-12">
	                    <div class="row d-flex align-items-start flex-row flex-wrap classicDashboardUserWidget__quick_actions mt-4 mb-4">
	                        <div class="col-6 col-xs-6 col-sm-3 mb-3 mb-sm-0">
	                            <a href="" class="d-flex flex-column align-items-center justify-content-start text-center">
	                                <i class="fa fa-btc" aria-hidden="true"></i>
	                                <span class="dashboardlinksize text-uppercase mt-4">Buy Bitcoin</span>
	                            </a>
	                        </div>
	                        <div class="col-6 col-xs-6 col-sm-3 mb-3 mb-sm-0">
	                            <a href="" class="d-flex flex-column align-items-center justify-content-start text-center">
	                                <i class="fa fa-files-o" aria-hidden="true"></i>
	                                <span class="dashboardlinksize text-uppercase mt-4">Send &amp; Receive</span>
	                            </a>
	                        </div>
	                        <div class="col-6 col-xs-6 col-sm-3 mt-0">
	                            <a href="" class="d-flex flex-column align-items-center justify-content-start text-center">
	                                <i class="fa fa-shield" aria-hidden="true"></i>
	                                <span class="dashboardlinksize text-uppercase mt-4">2FA Security</span>
	                            </a>
	                        </div>
	                        <div class="col-6 col-xs-6 col-sm-3 mt-0">
	                            <a href="" class="d-flex flex-column align-items-center justify-content-start text-center">
	                                <i class="fa fa-info-circle" aria-hidden="true"></i>
	                                <span class="dashboardlinksize text-uppercase mt-4">Help</span>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div> 	
 </section>



<section style="background-color: #ececec">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
         <div class="heading-block title-center nobottomborder nobottommargin toppadding page-section inline_block">
            <h1 class="bottommargin">
                                    You got a bitcoin wallet. Now fund it.
                            </h1>
        </div></div></div>
 <div class="row" style="margin-top: 40px;">
            <div class="shortlist-offers-list col-md-4 nobottommargin">
                <a href="" class="payment-method-group-link-wrapper">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border bottommargin-xs react-app">
                        <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 12px;
">
                            <img class="offer-header-img" src="assets/images/bank-transfers (1).svg" alt="Bank transfers">
                            <button class="btn button button-border button-rounded button-payment-groups text-uppercase lh-16">Bank transfers</button>
                        </h4>
                    </div>
                    <p class="bottommargin-xs">Buy bitcoin by making a transfer from your bank account to a bitcoin vendor on Paxful. Once they receive the funds, bitcoin is sent to you. Works worldwide.</p>
                </a>
                <div class="column-links">
                    <ul>
                        <li>
                            <a routerLink="/BankTransfer">Bank Transfer</a>
                        </li>
                        <li>
                            <a routerLink="/IWT-SWIFT">International Wire Transfer (SWIFT)</a>
                        </li>
                        <li>
                            <a routerLink="/IMPS-Transfer">IMPS Transfer</a>
                        </li>
                        <li>
                            <a routerLink="/Domestic-Wire-Transfer">Domestic Wire Transfer</a>
                        </li>
                        <li>
                            <a routerLink="/Sepa">SEPA</a></li>
                    </ul>
                </div>
                <p class="bottommargin-xs topmargin-xs">
                    <a href="">View all payment methods for bank transfers.</a>
                </p>
            </div>

            <div class="shortlist-offers-list col-md-4 nobottommargin">
                <a href="" class="payment-method-group-link-wrapper">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border bottommargin-xs react-app">
                        <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 12px;
">
                            <img class="offer-header-img" src="assets/images/online-transfers (1).svg" alt="Bank transfers">
                            <button class="btn button button-border button-rounded button-payment-groups text-uppercase lh-16">Online wallets</button>
                        </h4>
                    </div>
                    <p class="bottommargin-xs">Don’t want to leave the house? You can use a number of popular payment apps. Once the transfer is complete, bitcoin is yours.</p>
                </a>
                <div class="column-links">
                    <ul>
                        <li>
                            <a routerLink="/Paypal">PayPal</a>
                        </li>
                        <li>
                            <a routerLink="/Paytm">Paytm</a>
                        </li>
                        <li>
                            <a routerLink="/Phonepe">Phonepe</a>
                        </li>
                        <li>
                            <a routerLink="/GooglePay">Google Pay</a>
                        </li>
                        <li>
                            <a routerLink="/MPesa">M-Pesa</a>
                        </li>
                    </ul>
                </div>
                <p class="bottommargin-xs topmargin-xs">
                    <a href="">View all payment methods for online wallets.</a>
                </p>
            </div>


            <div class="shortlist-offers-list col-md-4 nobottommargin">
                <a href="" class="payment-method-group-link-wrapper">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border bottommargin-xs react-app">
                        <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 12px;
">
                            <img class="offer-header-img" src="assets/images/gift-cards (1).svg" alt="Bank transfers">
                            <button class="btn button button-border button-rounded button-payment-groups text-uppercase lh-16">Gift cards</button>
                        </h4>
                    </div>
                    <p class="bottommargin-xs">Want to buy $20 of bitcoin fast? Pick up a gift card with cash, save the receipt, and exchange it here for instant bitcoin.</p>
                </a>
                <div class="column-links">
                    <ul>
                        <li>
                            <a routerLink="/amazon-gift-card">Amazon Gift Card</a>
                        </li>
                        <li>
                            <a routerLink="/steam-wallet-gift-card">Steam Wallet Gift Card</a>
                        </li>
                        <li>
                            <a routerLink="/i-tunes-gift-card">iTunes Gift Card</a>
                        </li>
                        <li>
                            <a routerLink="/google-play-gift-card">Google Play Gift Card</a>
                        </li>
                        <li>
                            <a routerLink="/e-bay-gift-card">eBay Gift Card</a></li>
                    </ul>
                </div>
                <p class="bottommargin-xs topmargin-xs">
                    <a href="">View all payment methods for gift cards.</a>
                </p>
            </div>


            <div class="shortlist-offers-list col-md-4 nobottommargin">
                <a href="" class="payment-method-group-link-wrapper">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border bottommargin-xs react-app">
                        <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 12px;
">
                            <img class="offer-header-img" src="assets/images/cash-deposits.svg" alt="Bank transfers">
                            <button class="btn button button-border button-rounded button-payment-groups text-uppercase lh-16">Cash</button>
                        </h4>
                    </div>
                    <p class="bottommargin-xs">Buy bitcoin with cash. No bank account needed. A bitcoin vendor on Paxful will guide you to deposit cash into their account. Once they receive the deposit, bitcoin is sent to you.</p>
                </a>
                <div class="column-links">
                    <ul>
                        <li>
                            <a routerLink="/western-union">Western Union</a>
                        </li>
                        <li>
                            <a routerLink="/money-gram">MoneyGram</a>
                        </li>
                        <li>
                            <a routerLink="/cash-in-person">Cash in Person</a>
                        </li>
                        <li>
                            <a routerLink="/cash-deposite-to-bank">Cash Deposit to Bank</a>
                        </li>
                        <li>
                            <a routerLink="/ria-money-transfer">RIA Money Transfer</a></li>
                    </ul>
                </div>
                <p class="bottommargin-xs topmargin-xs">
                    <a href="">View all payment methods for cash.</a>
                </p>
            </div>


            <div class="shortlist-offers-list col-md-4 nobottommargin">
                <a href="" class="payment-method-group-link-wrapper">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border bottommargin-xs react-app">
                        <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 12px;
">
                            <img class="offer-header-img" src="assets/images/debitcredit-cards.svg" alt="Bank transfers">
                            <button class="btn button button-border button-rounded button-payment-groups text-uppercase lh-16">Debit/credit cards</button>
                        </h4>
                    </div>
                    <p class="bottommargin-xs">Conveniently use your debit or credit card to purchase bitcoin on Paxful.</p>
                </a>
                <div class="column-links">
                    <ul>
                        <li>
                            <a href="">ANY Credit/Debit Card</a>
                        </li>
                        <li>
                            <a href="">Paysafecard</a>
                        </li>
                        <li>
                            <a href="">Visa Debit/Credit Card</a>
                        </li>
                        <li>
                            <a href="">GreenDot Card</a>
                        </li>
                        <li>
                            <a href="">Bluebird American Express</a></li>
                    </ul>
                </div>
                <p class="bottommargin-xs topmargin-xs">
                    <a href="/buy-bitcoin/with-any-payment-method?group=bank-transfers#content">View all payment methods for debit/credit cards.</a>
                </p>
            </div>

            <div class="shortlist-offers-list col-md-4 nobottommargin">
                <a href="" class="payment-method-group-link-wrapper">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border bottommargin-xs react-app">
                        <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 12px;
">
                            <img class="offer-header-img" src="assets/images/digital-currencies.svg" alt="Bank transfers">
                            <button class="btn button button-border button-rounded button-payment-groups text-uppercase lh-16">Digital currencies</button>
                        </h4>
                    </div>
                    <p class="bottommargin-xs">Trade your favorite digital currencies or tokens and instantly get bitcoin transferred directly to your wallet.</p>
                </a>
                <div class="column-links">
                    <ul>
                        <li>
                            <a href="">Ethereum ETH</a>
                        </li>
                        <li>
                            <a href="">Litecoin LTC</a>
                        </li>
                        <li>
                            <a href="">Stellar Lumens XLM</a>
                        </li>
                        <li>
                            <a href="">Bitcoin Cash BCC/BCH</a>
                        </li>
                        <li>
                            <a href="">Ripple XRP</a></li>
                    </ul>
                </div>
                <p class="bottommargin-xs topmargin-xs">
                    <a href="">View all payment methods for digital currencies.</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section style="background-color: #ececec">
	<div class="container-fluid">
				<ul class="process-steps text-center">
					<li class="text-center">
						<a href="" class="text-center">
							<span><i class="fa fa-envelope-o" aria-hidden="true"></i>
                            Confirm Email</span>
						</a>
					</li>
					<li class="">
						<a href="">
							<i class="fa fa-mobile" aria-hidden="true"></i>
                            Verify Phone
						</a>
					</li>
					<li class="active">
						<a href="" style="cursor: default; color: #0cc1aa;">
							<i class="fa fa-user-o" aria-hidden="true"></i>
                            Username updated
						</a>
					</li>
					<li class="">
						<a href="">
							<i class="fa fa-picture-o" aria-hidden="true"></i>
                            Set Profile Picture
						</a>
					</li>
					<li class="">
						<a href="">
							<i class="fa fa-shield" aria-hidden="true"></i>
                            Enable 2FA
						</a>
					</li>
				</ul>
			</div>
</section>

<section style="background-color: #ececec">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="margintopbottom">
                    <div class="active-trades-container--header">
                        <h3 class="section-title">
                            Active Trades
                            <span class="count-of-table-elems">0</span>
                        </h3>
                        <span class="explanation">
     		    <i class="fa fa-refresh fa-spin" id="trade-loading-icon" style="display: none"></i>
     		    <span id="activeTradesUpdated">Updating active trades in 5 seconds</span>
                        </span>
                    </div>
                    <div class="table-transactions table-responsive" id="active-trades-table">
                        <table class="table">
                            <tbody>
                                <tr class="noresult">
                                    <td><span class="lead">No active trades. <a href="">Get out there and find an offer 	you can't refuse.</a></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="style-msg" style="background-color: #f9f9f9;">
                    <div class="sb-msg">
                        Offers in grey cannot be seen by the public. At least 0.02 BTC is required at all times for offers to be seen. <a target="_blank" href="">Verified sellers do not have this requirement.</a>
                    </div>
                </div>


                <div class="offersTableWrapper">
                    <div id="offers" class="page-anchor"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="bondNoticeWrapper mt-4 mb-8">
                                <i class="i-small icon-exclamation"></i>
                                <strong>! Any gift card offers</strong> reFquire <a href="">bond</a> of 0.1 BTC.
                                <span>
                        <strong>Why </strong><i class="fa fa-question-circle-o" style="color: gray"></i>
                        </span><br>
                                <span>Balance of at least 0.1 BTC is required to transfer to bond</span>
                            </div>
                            <div>
                                <h3 class="sectionTitle mb-3">
                                    My Offers
                                    <span class="count-of-table-elems">0</span>
                                </h3>
                                <div class="offersTable table-responsive mb-4">
                                    <div id="marginPopoverContainer"></div>
                                    <table class="table m-0">
                                        <tbody>
                                            <tr class="createOfferRow">
                                                <td colspan="7" class="my-1 mx-2">
                                                    <a href="">
                                            Create your offer
                                        </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="team-box mt-30">
                    <h3 class="sectionTitle">
                        My Referral
                    </h3>
                    <p class="section-subtitle light">
                        Share your Paxful referral link and earn <strong>50%</strong> from your team members' escrow fees and <strong>10%</strong> from theirs!
                    </p>
                    <div id="invite-to-team">
                        <div class="link-input">
                            <div class="input-group">
                                <input id="team-referral-input" class="form-control input-lg" value="https://Osiz.com/?r=GMYyyxBnwYW" style="line-height: 1">
                                <span class="input-group-btn">
												<button class="btn btn-default btn-clipboard btn-lg js-track-cta-copy" type="button">Copy link</button>
											</span>
                            </div>
                        </div>
                    </div>

                    <div class="fullstory js-fullstory-exclude">
                        <div class="box-small">
                            <h3>Referral</h3>
                            <div class="number-box">
                                <p>0</p>
                            </div>
                        </div>
                        <div class="box-small">
                            <h3>Total earned</h3>
                            <div class="number-box pull-left">
                                <p>0 <small>USD</small></p>
                            </div>
                        </div>
                        <div class="box-small">
                            <h3>Current balance</h3>
                            <div class="number-box">
                                <p>0 <small>USD</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="action-row pull-right">
                        <a href="" class="button button-small button-border button-rounded norightmargin">More details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section>
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<ul class="nav nav-tabs table-tabs" role="tablist">
				    <li role="presentation" class="activity-tab active">
				        <h3 class="section-title" href="#activity" aria-controls="home" role="tab" data-toggle="tab">
				            Account Activity
				        </h3>
				    </li>
				    <li class="tabs-divider"></li>
				    <li role="presentation" class="transactions-tab">
				        <h3 class="section-title" href="#transactions" aria-controls="profile" data-opened="0" role="tab" data-toggle="tab">
				            Transactions
				            <span class="count-of-table-elems">0</span>
				            <i class="icon-line2-question" data-toggle="popover" data-placement="top" data-content="USD price is shown at the moment of transaction. For bitcoin amount hover or click on the transaction amount." data-container="body" data-trigger="hover" data-original-title="" title=""></i>
				        </h3>
				    </li>
				</ul>
			</div>
		</div>
	</div>
</section> -->



<section style="background-color: #ececec;
    padding-bottom: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				

<div id="exTab2" class="container">	
<ul class="nav nav-tabs">
			<li class="active">
        	<a href="#1" data-toggle="tab">Account Activity</a>
			</li>
			<li><a href="#2" data-toggle="tab">Transaction <span class="count-of-table-elems">0</span><i class="fa fa-question-circle-o" style="margin-left: 5px;color: lightgray;
"></i></a>
			</li>
			</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
          			<ul class="ledger-list">
          				<li class="ledger-list-item">
                <div class="ledger-node">
                    <div class="pull-left ledger-handle"><i class="fa fa-bars"></i></div>
                    <div class="ledger-node-content">
                        <span class="ledger-node-content-text leftmargin-sm">User login</span>
                        <span class="pull-right">10 hours ago</span>
                    </div>
                 
                </div>
            </li>
            <li class="ledger-list-item">
                <div class="ledger-node">
                    <div class="pull-left ledger-handle"><i class="fa fa-bars"></i></div>
                    <div class="ledger-node-content">
                        <span class="ledger-node-content-text leftmargin-sm">User login</span>
                        <span class="pull-right">10 hours ago</span>
                    </div>
                   
                </div>
            </li>
            <li class="ledger-list-item">
                <div class="ledger-node">
                    <div class="pull-left ledger-handle"><i class="fa fa-bars"></i></div>
                    <div class="ledger-node-content">
                        <span class="ledger-node-content-text leftmargin-sm">User login</span>
                        <span class="pull-right">10 hours ago</span>
                    </div>

                </div>
            </li>
            <li class="ledger-list-item">
                <div class="ledger-node">
                    <div class="pull-left ledger-handle"><i class="fa fa-bars"></i></div>
                    <div class="ledger-node-content">
                
                        <span class="ledger-node-content-text leftmargin-sm">User login</span>
                        <span class="pull-right">10 hours ago</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li class="ledger-list-item">
                <div class="ledger-node">
                    <div class="pull-left ledger-handle"><i class="fa fa-bars"></i></div>
                    <div class="ledger-node-content">
                        <span class="ledger-node-content-text leftmargin-sm">User login</span>
                        <span class="pull-right">10 hours ago</span>
                    </div>
                
                </div>
            </li>
          			</ul>
				</div>
				<div class="tab-pane" id="2">
         		<h3 style="border: 1px solid gray;padding: 10px;color: gray;background-color: #f0f9fc">No transactions</h3>
				</div>
        			</div>
  </div>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>