<app-navbar></app-navbar>
<section>
    <div class="container" fxLayoutAlign="center center">
        <div class="row">
            <div class="col-lg-6 offset-3">
                <div class="formcontainer">
                    <div class="formcontainer-header">
                        <p>Enter your email address to request a 
password reset. You will receive an email containing password reset 
instructions.</p>
                    </div>
                    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="formcontainer-field">
                            <div class="input-container">
                                <i class="fa fa-envelope icon"></i>
                                <input class="input-field" type="text" placeholder="Email"
                                [(ngModel)]="model.email" name="email"
                                #email="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" 
                                required autocomplete="off" />
                            </div>
                            <div class="err">
                              <mat-error *ngIf="email.invalid && f.submitted && email.errors.required">
                                E-mail_ID Required
                              </mat-error>
                            </div>
                            <div fxLayoutAlign="center center">
                                <re-captcha (resolved)="resolved($event)" siteKey="6LdwMMgUAAAAAGteaHHXv3OTn8I9nYXO-USZVdbk"></re-captcha>
                            </div>
                            
                            <div class="btnheight" fxLayoutAlign="center center"> <button mat-button type="submit" *ngIf="!submitted"  class="btn btnsubmit">REQUEST PASSWORD</button></div>
                            <p class="text-center">Remember password ? <a routerLink='/login'>login</a></p>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
  
<app-footer></app-footer>